---
layout: layouts/layout.njk
title: Disclaimer
url: /disclaimer/

---

{{ comp.elements.title({ title: title }) | safe }}

<div class="wrapper holder">

<p><strong>The Youth Employment Data Dashboard is published by the Youth Futures Foundation.</strong></p>  

<p>The Data Dashboard includes data that have been collected, developed and analysed by third parties and 
Youth Futures Foundation is not responsible for, and cannot guarantee the accuracy of, those third-party 
materials or any related material.</p>

<p>Every effort has been made to ensure the accuracy of the information that the dashboard contains, but no 
responsibility is accepted for any errors, omissions, or misleading statements.</p>

<p>Official and other statistics are regularly revised following initial publication, particularly where 
figures represent an estimate. This may happen for a number of reasons, from the on-going incorporation of 
late survey data to occasional methodological improvements and changes in international classifications and 
standards. The Dashboard will be updated on an ongoing basis and you should always check to make sure that 
you are using the most up-to-date figures.</p>  

<p>Youth Futures Foundation is not responsible for the interpretation or use of statistics by any other 
organisation, or of the consequences of such use.</p>





</div>