.dashboard-item {
  text-align: center;
}
.dashboard-number {
  text-align: center;
  font-family: var(--fontstack-heading);
  font-size: 5em;
  font-weight: 500;
}

.dashboard-note {
  text-align: center;
}
/* OI dashboard component */
.oi-dashboard .oi-dashboard-inner { --auto-dashboard-min-size: 200px; width: 100%; display: grid; grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--auto-dashboard-min-size)), 1fr)); grid-gap: 1em; }
.oi-dashboard .panel h3 { color: inherit!important; font-weight: normal; }
.oi-dashboard .panel { padding: 1em; }
.oi-dashboard .bignum { font-size: 4em; line-height: 1.25em; font-weight: bold; text-align: center; display: block; margin-top: 0; }
.oi-dashboard .footnote { font-size: 0.8em; text-align: center; display: block; }
@media screen and (max-width: 1200px) {
	.oi-dashboard { grid-gap: 1.5vw; }
	.oi-dashboard .panel { font-size: max(10px, 1.5vw); }
	.oi-dashboard .footnote { font-size: max(10px, 0.7em); }
}
