.dashboard-item {
  text-align: center;
}
.dashboard-number {
  text-align: center;
  font-family: var(--fontstack-heading);
  font-size: 5em;
  font-weight: 500;
}

.dashboard-note {
  text-align: center;
}