input, select {
  font: inherit;
  padding: 0.5em;
}

label + select {
  margin-inline-start: 1em;
}

.selector {
  & form {
    display: flex;
    gap: 1em;
    align-items: baseline;
    justify-content: center;
    background: #dff3f4;
    padding: 1em;
    font-weight: 600;
  }
}

button {
  font: inherit;
  border: initial;

  .cookie-overlay & {
    color: black;
    background: #f7ab3d;
    padding-inline: 20px;
    padding-block: 6px 2px;
    border-radius: 20px;
    &:hover {
      color: #f7ab3d;
      background: black;
    }
    &:active {
      background-color: #e55912;
    }
    &:focus {
      border-radius: 20px;
    }
  }
}

