input, select {
  font: inherit;
  padding: 0.5em;
}

label + select {
  margin-inline-start: 1em;
}

.selector {
  & form {
    display: flex;
    gap: 1em;
    align-items: baseline;
    justify-content: center;
    background: #dff3f4;
    padding: 1em;
    font-weight: 600;
  }
}

button {
  font: inherit;
  border: initial;
}

