:root {
  --fontstack-heading: "CenturyGothicStdBold", "Century Gothic", Helvetica, sans-serif;
}

body {
  margin: 0px;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

.dashboard-number {
  text-align: center;
  color: #e25b27;
  font-family: var(--fontstack-heading);
  font-size: 2.5rem;
  font-weight: 500;
}