---
title: Vacancies
tags:
  - dashboard
  - annotatable
topics:
  - Economic indicators 
  - Employment
---

<h2>About the data on this page</h2>

<p>
  These visualisations are driven by data from from the Office for National Statistics. Specific links to the data sets used are provided below.
</p>

<h2>Number of vacancies</h2>

<p>
  This chart shows the seasonally adjusted estimated number of vacancies in the UK.
  The figures are derived from <a href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/datasets/vacanciesandunemploymentvacs01">Vacancies and Unemployment (VACS01)</a> data
  published by the Office of National Statistics, and show the estimated vacancies over a rolling three-month period.
</p>

<p>
  The current data was published on {{ latest.last_monthly_date | date('HUMAN_DATE') }} and includes data up to the 
  {{ latest.last_quarterly_date }} quarter.
</p>

{{ comp.viz.main({ visualisations: visualisation | pick('estimated_vacancies'), test: false }) | safe }}

<h2>Growth by sector</h2>

<p>
 This visualisation shows the percentage growth in quarterly average job vacancies in the UK by sector. 
 The figures are derived from <a href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/datasets/vacanciesbyindustryvacs02">Vacancies by industry (VACS02)</a> data published
 the Office of National Statistics. Categories in each tab were selected based on the
 <a href= "https://youthfuturesfoundation.org/wp-content/uploads/2021/10/Large-Employers-and-the-Youth-Labour-Market-report.pdf">Large Employers and the Youth Labour Market 
 Report</a> published by the Youth Futures Foundation.
</p>

<p>
  The current data was published on {{ latest.last_monthly_date | date('HUMAN_DATE') }} and includes data up to the 
  {{ latest.last_quarterly_date }} quarter.
</p>

{{ comp.viz.main({ visualisations: visualisation | pick('quarterly_growth_all_sectors', 'growth_key_youth_sectors', 'growth_wanted_youth_sectors'), test: false }) | safe }}

