---
title: Vacancies
tags:
  - dashboard
topics:
  - Economic indicators 
  - Employment
---

{{ comp.viz.main({ visualisations: visualisations | pick(0), test: false }) | safe }}

<h2>About the data on this page</h2>

<p>
  These visualisations are driven by data from <a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/bulletins/jobsandvacanciesintheuk/april2023">Vacancies and jobs in the UK</a>
  from the Office for National Statistics. 
</p>

<p>
  The page is automatically regenerated when the latest ONS data is published.
</p>

<h2>Vacancies in the UK</h2>

{{ comp.viz.main({ visualisations: visualisations | pick(1, 2), test: false }) | safe }}

