---
title: Vacancies
tags:
  - dashboard
  - annotatable
topics:
  - Economic indicators 
  - Employment
---

{{ comp.viz.main({ visualisations: visualisations | pick(0), test: false }) | safe }}

<h2>About the data on this page</h2>

<p>
  These visualisations are driven by data from <a href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/datasets/vacanciesandunemploymentvacs01">Vacancies and Unemployment</a> and 
  <a href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/datasets/vacanciesbyindustryvacs02">Vacancies by industry</a> publications 
  from the Office for National Statistics. 
</p>

<p>
  The current data was published on {{ latest.last_monthly_date | date('HUMAN_DATE') }} and includes data up to the 
  {{ latest.last_quarterly_date }} quarter.
</p>

<h2>Number of vacancies</h2>

<p>
  This chart shows the seasonally adjusted estimated number of vacancies in the UK.
  The figures are derived from the ONS Labour Market Survey, and show the estimated vacancies over a rolling three-month period.
</p>

{{ comp.viz.main({ visualisations: visualisations | pick(1), test: false }) | safe }}

<h2>Growth by sector</h2>

<p>
 This visualisation shows the percentage growth in quarterly average job vacancies in the UK by sector. Categories in each tab were selected based on the
 <a href= "https://youthfuturesfoundation.org/wp-content/uploads/2021/10/Large-Employers-and-the-Youth-Labour-Market-report.pdf">Large Employers and the Youth Labour Market 
 Report</a>.
</p>

{{ comp.viz.main({ visualisations: visualisations | pick(2), test: false }) | safe }}

