<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <title>{{ title | default('PAGE TITLE') }}</title>
  <link rel="stylesheet" href="/components.css">
  <link rel="stylesheet" href="/style/wireframe.css">
  <script src="/components.js"></script>
  {% for script in extra_scripts -%}
    <script src="{{ script }}"></script>
  {% endfor -%}
</head>
<body>
  <div class="message">
    <div class="wrapper">
		Warning: This site is under development and should not be used for analysis.
	</div>
  </div>
  <header id="site-header" class="site-header">
    <div class="site-header-content wrapper">
      <a href='/'><div class="site-header-logo"><span>Logo</span></div><span class="site-title">YFF Data</span></a>
      {{ comp.nav() | safe }}
    </div>
  </header>
  <main id="main" role="main">
    {% block main %}
    {{ content | safe }}
    {% endblock %}
  </main>
  <footer>
	<div class="wrapper">
		<div class="twocol">
			<div>
				<div class="site-header-logo"><span>Logo</span></div>
				<p class="address">Youth Futures Foundation
				<br />Tintagel House
				<br />92 Albert Embankment
				<br />London SE1  7TY</p>
			</div>
			<div></div>
		</div>
		<div class="twocol small">
			<p><a href="https://youthfuturesfoundation.org//terms-of-use/">Terms of Use</a>&nbsp; | &nbsp;<a href="https://youthfuturesfoundation.org//privacy-policy">Privacy Policy</a>&nbsp; |&nbsp; <a href="https://youthfuturesfoundation.org//cookie-policy/">Cookie Policy</a>&nbsp; |&nbsp; <a href="https://youthfuturesfoundation.org//risk-checks/">Risk Checks</a></p>
			<p>&copy; 2022 Youth Futures Foundation. Company number: 11814131</p>
		</div>
	</div>
  </footer>

  <script>
  /*
	Open Innovations Log
	Web usage monitoring with less privacy invasion
	Version: 2022-01-25 https://open-innovations.org/resources/oi.log.js
  */
  !function(t){t.OI||(t.OI={});var e=location;function n(t){return 50*Math.round(t/50)}t.OI.log=new function(){var t,r,o,u,f,s;return r="https://open-innovations.org/log",o=document.referrer,u=new RegExp(e.origin,"g"),0==o.indexOf(e.origin)&&(o=o.replace(u,"")),f=n(window.innerWidth)+"x"+n(window.innerHeight),this.setup=function(e){return e||(e={}),e.dest&&(r=e.dest),e.id&&(t=e.id),e.target&&(s=e.target),s="string"==typeof s?[s]:s,this},this.add=function(n,u){if("file:"==e.protocol)return this;if(!function(t){if("object"!=typeof t||t.length<=0)return!0;for(i=0;i<t.length;i++)if(t[i]==e.host)return!0;return!1}(s))return this;var d=new XMLHttpRequest;return d.open("POST",r,!0),d.setRequestHeader("Content-Type","application/x-www-form-urlencoded; charset=UTF-8"),"function"==typeof u&&(d.onload=u),d.send((t?"oid="+t+"&":"")+"url="+e.href+"&"+(o?"ref="+o+"&":"")+(f?"size="+f+"&":"")+n),this},this}}(window||this);
  OI.log.setup({'id':'yff','target':['localhost:3000','open-innovations.github.io']}).add('action=view');
  </script>
</body>
</html>