{% extends 'layout.njk' %}

{% block main %}
  <div class="page-title turquoise-bg">
	<div class="holder wrapper">
		<h1>{{ title }}</h1>
	</div>
  </div>

  <div class="wrapper holder">

    <div class="post-date">{{ publication_date | date('MMMM d, yyyy') }}</div>
    {% comp 'flex' %}
	  <section class="summary">
		{{ summary | md | safe }}
	  </section>
    {{ comp.report.table_of_contents({ sections: sections }) | safe }}
    {% endcomp %}

	  <section style="display: flex;">
		{{ comp.actions.download({ link: report_link }) | safe }}
	  </section>

	  <section>
		{{ comp.viz.main({ visualisations: visualisations }) | safe }}
	  </section>

	  {% for section in sections %}
		<section id="narrative-{{ loop.index }}">
		  <h2>{{ section.title }}</h2>

		  {{ comp['tag-cloud']({ tags: section.tags }) | safe }}

		  {% if section.blocks %}
			<section>
			  {{ comp.report.section_featured_viz({ section: section }) | safe }}
			</section>
		  {% endif %}

		  {{ section.summary | md | safe }}

		  <a href="{{ search.page("report=" + url + " index=" + loop.index0 ).data.url }}" aria-label="Read more in {{ section.title | safe }}">READ MORE</a>
		</section>
	  {% endfor %}
  </div>

{% endblock %}