{% extends 'layout.njk' %}

{% block main %}
  <div class="back-to-report plum">
    <div class="holder padded">
		&larr; This is part of a report titled <a href='{{ report }}' title="The full report">{{ reporttitle }}</a>
	</div>
  </div>
  <div class="page-title">
	<div class="holder wrapper">
		<h1>{{ title }}</h1>
	</div>
  </div>

  <div class="wrapper holder">
  <aside>
  {{ comp['tag-cloud']({ tags: tags }) | safe }}
  </aside>

  <section>
  {{ summary | md | safe }}
  </section>

  {% for block in blocks %}
    {{ comp.report.block(block) | safe }}
  {% endfor %}
  </div>
{% endblock %}