{% extends 'layout.njk' %}

{% block main %}
  <a href="{{ report }}" class="back-to-report plum" title="Go back to the full report">
    <div class="holder padded">
		&larr; {{ reporttitle }}
	</div>
  </a>
  <div class="page-title">
	<div class="holder wrapper">
		<h1>{{ title }}</h1>
	</div>
  </div>

  <div class="wrapper holder">
  <aside>
  {{ comp['tag-cloud']({ tags: tags }) | safe }}
  </aside>

  <section>
  {{ summary | md | safe }}
  </section>

  {% for block in blocks %}
    {{ comp.report.block(block) | safe }}
  {% endfor %}
  </div>
{% endblock %}