@import "css/reset/minireset.css";

html {
	font-family: monospace;
	font-size: 16px;
}

.message {
	background: #fbf5d0;
	color: #5f5207;
	text-align: center;
	height: auto;
	position: relative;
}

.wrapper { padding: 2em 1em; }
.padded { padding: 1em; }
.holder {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
section { position: relative; }
main .wrapper > * { margin-bottom: 1em; }
main .wrapper > *:last-child { margin-bottom: 0; }
.wrapper > *:first-child { margin-top: 0; }
h1 { font-size: 35px; font-weight: 500; line-height: 1.25em; }
h1 + *, h2 + *, h3 + * { margin-top: 1em; }
h2 { font-size: 1.5em; line-height: 1.25em; }
h3 { font-size: 1.33em; line-height: 1.25em; }

ul { list-style: disc; margin-left: 1em; }
blockquote { border-left: 4px solid black; padding-left: 40px; }

.pane h2 { color: inherit; }


section, aside {
	margin: 1em 0 4em 0;
	padding: 1em;
}

/* Navigation styling */
.navigation > div {
  background: #efefef;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
}
.navigation button + * li { display: inline-block; }

.navigation ul { margin: auto;
  list-style: none;
  margin: 0;
}
.navigation li {
  width: 10em;
}

iframe { width: 100%; aspect-ratio: 16 / 9; }

.note { z-index: 1000; display: block; width: 12em; position: absolute; right: -0.5em; transform: translate3d(100%,0,0); padding: 1em; background-color: black; color:white; margin-bottom: 1em; margin-left: 0em; margin-top: 0.5em; }
.note:before {
	background: transparent none repeat scroll 0 0;
	border-color: transparent black transparent transparent;
	border-style: solid;
	border-width: 0 1em 1em 0;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	margin-left: -1em;
}

figure .figure-options { float: right; text-align: right; line-height: 0; }
figure .figure-menu, figure .figure-menu + label { font-size: 1.33em; }
figure .figure-options label { position: absolute; top: 0; right: 0; display: inline-block; text-align: center; font-weight: bold; line-height: 1.5em; min-width: 1.5em; z-index: 500; }
figure .figure-menu { position: relative; height: 1.5em; width: 1.5em; opacity: 0.01; z-index: 510; cursor: pointer; }
figure .added .figure-menu:checked ~ .figure-option-list { display: block; position: absolute; z-index: 500; right: 0; }
figure .figure-options .figure-option-list { list-style: none; margin: unset; background: white; }
figure .figure-options.added .figure-option-list { display: none; }
figure .figure-options .figure-option { position: relative; display: block; background-image: unset!important; font-family: inherit; font-size: inherit; text-align: left; padding: 0 1em; line-height: 2.5em; border: 0; width: 100%; white-space: nowrap; cursor: pointer; }
figure .figure-options .figure-option:hover, figure .figure-options .figure-option:focus { z-index: 520; }

.navigation ul li.social-icon { line-height: 0; }
.navigation ul li.social-icon a { padding: 0; display: inline-block; }
.navigation ul li.social-icon svg { height: 30px; width: 30px; float: none; }

@media screen and (min-width: 1100px) {
  .navigation > div {
    background: initial;
    position: relative;
    top: initial;
    left: initial;
    right: initial;
  }
  .navigation button + * li { display: initial; }
  .navigation ul {
    margin: initial;
    display: flex;
    gap: 1rem;
  }
  .navigation li {
    width: initial;
  }
}

.download-link {
  background: black;
  color: white;
  position: relative;
}
.download-link li {
  margin: 0.2rem;
  padding: 0.1rem 0.5rem;
}
.download-link li:hover {
  color: black;
  background: white;
}
.download-link li a {
  color: inherit;
}

pre { overflow-x: auto; background-color: #ddd; }
code { background-color: #ddd; padding: 0 0.25em; }
pre code {
  display: block;
  padding: 1rem;
}

.feedback { border-top: 1px solid black; }
.legal { border-top: 1px solid black; }
footer { border-top: 1px solid black; padding: 2em 0; }
footer .twocol {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
footer .twocol > *:last-child { text-align: right; }
.small { font-size: 0.7em; }