@import 'css/site-header.css';
@import 'css/tag-cloud.css';
@import 'css/pane.css';

/* Youth Futures Foundation styles */
@font-face {
  font-display: swap;
  font-family: "CenturyGothicStd";
  src: url(../fonts/CenturyGothicStd.woff2) format('woff2'), url(../fonts/CenturyGothicStd.woff) format('woff');
  font-weight: 400
}
@font-face {
  font-display: swap;
  font-family: "CenturyGothicStdBold";
  src: url(../fonts/CenturyGothicStdBold.woff2) format('woff2'), url(../fonts/CenturyGothicStdBold.woff) format('woff');
  font-weight: 400
}

html { scroll-behavior: smooth; }
body { font-family: "CenturyGothicStd", "Century Gothic", Helvetica, sans-serif; color: #565655; font-size: 17px; }
h1 { color: #e25b27; text-align: center; }
h1,h2,h3,h4,h5,h6 { font-family: "CenturyGothicStdBold", "Century Gothic", Helvetica, sans-serif; }
blockquote { border-left: 4px solid #e25b27; }

.gold { background: #F7AB3D; color: black; }
.orange { background: #E55912; color: white; }
.turquoise { background: #69C2C9; color: black; }
.cherry { background: #E52E36; color: white; }
.chartreuse { background: #C7B200; color: black; }
.plum { background: #7D2248; color: white; color: white; }
.grey { background: #B2B2B2; color: black; }
.blue { background: #005776; color: white; }
.raisin { background: #874245; color: white; }
.rose { background: #FF808B; color: black; }
.forest { background: #4A783C; color: white; }
.black { background: #000000; color: white; }
.plum a, .blue a, .raisin a, .forest a, .black a { color: #E55912; font-weight: bold; }

.gold-bg { background: #fdeed8; color: inherit; }
.orange-bg { background: #faded0; color: inherit; }
.turquoise-bg { background: #e1f3f4; color: inherit; }
.cherry-bg { background: #fad5d7; color: inherit; }
.chartreuse-bg { background: #f4f0cc; color: inherit; }
.plum-bg { background: #e5d3da; color: inherit; }
.grey-bg { background: #f0f0f0; color: inherit; }
.blue-bg { background: #ccdde4; color: inherit; }
.raisin-bg { background: #e7d9da; color: inherit; }
.rose-bg { background: #ffe6e8; color: inherit; }
.forest-bg { background: #dbe4d8; color: inherit; }
.black-bg { background: #d8d9da; color: inherit; }

.message { background: #fdeed8; }
.message > .holder { color: #E55912; font-weight: bold; }

.back-to-report { display: block; }

.back-to-report { text-transform: uppercase; }

.page-title { background: #dff3f4; position: relative; min-height: 180px; display: table; width: 100%; }
.page-title::before { content: ""; background-image: url("../images/YFF_icon_stack1-01.svg"); height: 100%; aspect-ratio: 1 / 2; position: absolute; left: 0; top: 0; z-index: 0; }
.page-title::after { content: ""; background-image: url("../images/YFF_icon_stack2-01.svg"); height: 100%; aspect-ratio: 1 / 2; position: absolute; right: 0; top: 0; z-index: 0; }
.page-title .holder { position: relative; height: 100%; width: 58.8% !important; margin: auto !important; display: table-cell; vertical-align: middle; }

main .wrapper section { line-height: 1.8em; }
main .wrapper > section  { padding-top: 2em; }
main .wrapper > section:first-child, main .wrapper > aside + section { padding-top: 0; }
main .wrapper section > * { margin-bottom: 1em; }
main .wrapper section > *:last-child { margin-bottom: 0; }
main .wrapper section h2, main .wrapper section h3 { color: #e25b27; font-weight: bold; }
main .wrapper section a:not(.download-link, .tab) {
	color: #e25b27;
	background-image: linear-gradient(to right,#e25b27 33%,rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 5px 1px;
	background-repeat: repeat-x;
}
main section.dl { padding-top: 0; display: flex; }
.button { background: #7C2147; color: white; }
.download-link, .button { text-transform: uppercase; margin: auto; padding: 15px 60px !important; font-size: 1.4em; font-weight: bold; transition: background 0.3s ease-in; }
.download-link:hover, .download-link:focus, .button { background: #964E6D !important; }


section, aside { margin: 1em 0; padding: 0; }

.auto-grid { grid-gap: 2.5em; --auto-grid-min-size: 500px!important; }
.auto-grid .pane { border: 0; padding: 1.25em; line-height: 1.5em; }
.pane h2 { font-weight: bold; }
.auto-grid .pane:hover, .auto-grid .pane:focus { outline: 2px solid #e25b27; }
.auto-grid .pane:hover h2 { color: #964e6d; }
.grey { background: #efefef; }

td, th { padding: 0.25em; }

.summary > * { margin-bottom: 1em; }
.summary > *:last-child { margin-bottom: 0; }
.summary > p:first-child { font-weight: bold; font-family: 'CenturyGothicStdBold',sans-serif; }

/* Tabbed figures */  
.grid.tabs { margin-bottom: 0; }
.grid.tabs button { background-color: #efefef; color: #565655; z-index: 100; border: 0; font: inherit; line-height: inherit; }
.grid.tabs button[aria-selected=true] { background-color: #fceee7; color: inherit; font-weight: bold;}
.grid.tabs button h3 { color: inherit; }

.panes .pane { background-color: #fceee7; }
.panes .pane { border: 0; padding: 1.25em; }
.pane .source { font-size: 0.8em; text-align: right; }
figure { position: relative; }
figure .tab-title { display: none; }
figcaption { margin-bottom: 1em; }
cite { font-size: 0.8em; }

a:focus, button:focus, figure .figure-menu:focus + label { outline: 2px solid #E55912; border-radius: 2px; }

figure .figure-menu:focus + label, figure .figure-options ul li > *:hover, figure .figure-options ul li > *:focus { color: white; background: #9d4f64; }

.feedback { text-align: center; background: #e0e0e0; border: 0; }
.feedback a { color: #7d2248; font-weight: bold; }

footer .et_pb_row { width: 80%; max-width: 1600px; padding: 3% 0; padding-bottom: 20px; }

footer {
	border: 0;
	font-family: "CenturyGothicStd", "Century Gothic", Helvetica, sans-serif;
	background: #efefef;
	color: #56585A;
	font-size: 17px;
	font-weight: 500;
	line-height: 1.8em;
	padding: 0;
}
footer a { color: #7d2248; }
footer .small { line-height: 1.25em; }
footer .site-header-logo { margin-bottom: 1.5em; }
footer .twocol:first-child { padding-bottom: 20px; }


.note { background-color: #7D2248; color:white; font-size: 17px; font-weight: normal; text-transform: none; }
.note:before { border-color: transparent #7D2248 transparent transparent; }



@media screen and (max-width: 1100px) {
	.page-title h1 { font-size: 1.5em; }
	footer .twocol { display: block; }
	footer .twocol > * { margin-bottom: 1em; }
	footer .twocol > *:last-child { text-align: left; margin-bottom: 0; }
}

/*********************/
/* Navigation styles */
/*********************/
.navigation li { line-height: 30px; }
.navigation a { text-transform: uppercase; color: inherit; font-size: 1.5em; padding: 0 0.7em; }
.navigation a:hover, .navigation a:focus { color: #e25b27; }
.navigation button[aria-expanded] i {
	--menu-button-colour: #e25b27;
}
.navigation ul li.social-icon { line-height: 0; }
.navigation ul li.social-icon a { padding: 0; display: inline-block; }
.navigation ul li.social-icon :is(svg,img) { height: 30px; width: 30px; float: none; }
@media screen and (max-width: 1100px) {
	.navigation > div { text-align: left; }
	.navigation ul li { display: block; width: 100%; line-height: 3em; padding: 0 1em; }
	.navigation ul li:hover { background: white; }
	.navigation ul li:not(:last-child) { border-bottom: 1px solid rgba(0,0,0,.03);  }
	.navigation ul li a { color: inherit; display: block; }
	.navigation ul li.social-icon { display: inline-block; width: unset; padding: 0; }
	.navigation ul li.social-icon.first-social { margin-left: 1.5em; }
	.navigation ul li.social-icon a { line-height: 0; padding: 0.5em; }
}

/* Table of Contents */
.table-of-contents {
}
.table-of-contents ul {
  list-style: none;
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
}
.table-of-contents li {
	width: 100%;
	border: 0;
	height: auto;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.table-of-contents a {
  display: block;
  color: #565656;
  padding: 0 0 10px 0;
}
.table-of-contents a:hover {
  color: #e25b27;
}
.table-of-contents a::after {
  background: url(/assets/images/yff/Grey_arrow_right-01.svg) no-repeat;
	content: " ";
	width: 10px;
	height: 20px;
	display: inline-block;
	right: 0;
	margin-left: 10px;
	vertical-align: middle;
	-webkit-transition: transform 0.1s ease;
	-moz-transition: transform 0.1s ease;
	-o-transition: transform 0.1s ease;
	transition: transform 0.1s ease;
}
.table-of-contents a:hover::after {
  background: url(/assets/images/yff/Orange_arrow_right-01.svg) no-repeat;
}