{%- macro dashboard_block(config) -%}
  {% comp 'grid.block', {
    link: config.link,
    background: '#eb7a41',
    colour: 'white',
    classes: 'dashboard-item'
  } %}
  <h3>{{ config.title }}</h3>
  <p>{{ config.description }}</p>
  <p class="dashboard-number">{{ config.number }}</p>
  {% endcomp %}
{%- endmacro -%}


{# NEET stats #}
{{ dashboard_block({
  link: '~/dashboard/neet/index.njk' | url,
  title: 'NEET rate',
  description: 'Percentage of young people not in education, employment or training for period '
    + search.data('dashboard/neet/').latest.quarter + '.',
  number: search.data('dashboard/neet').latest.neet_rate + '%'
}) | safe }}

{# Labour Market stats #}
{{ dashboard_block({
  link: '~/dashboard/labour-market/index.njk' | url,
  title: 'Unemployment',
  description: 'Percentage of economically active young people (aged 16 to 24) unemployed for period ' +
    search.data('dashboard/labour-market/').latest.most_recent_lms_period
    + '.',
  number: search.data('dashboard/labour-market/').latest.unemployment_rate_young_people + '%'
}) | safe }}

{{ dashboard_block({
  link: '~/dashboard/labour-market/index.njk' | url,
  title: 'Economic inactivity',
  description: 'Percentage of young people (aged 16 to 24) economically inactive for period ' +
    search.data('dashboard/labour-market/').latest.most_recent_lms_period
    + '.',
  number: search.data('dashboard/labour-market/').latest.economic_inactivity_rate_young_people + '%'
}) | safe }}

{{ dashboard_block({
  link: '~/dashboard/labour-market/index.njk' | url,
  title: 'Long-term unemployment',
  description: 'Percentage of economically active young people (aged 16 to 24) unemployed for between 6 and 12 months for period ' +
    search.data('dashboard/labour-market/').latest.most_recent_lms_period
    + '.',
  number: search.data('dashboard/labour-market/').latest.long_term_unemployment_rate_6_to_12_months + '%'
}) | safe }}

{# CPI #}
{% set cpi_monthly_headline = sources.cpi.headlines.rows | findByAttribute('sector', 'Monthly') | first %}
{{ dashboard_block({
  link: '~/dashboard/cpi/index.njk' | url,
  title: 'Consumer prices',
  description: 'Monthly change in CPI. ' + cpi_monthly_headline.Note,
  number: cpi_monthly_headline.sign + cpi_monthly_headline.Value + '%'
}) | safe }}

{# Vacancies #}
{% set vacancies_headline = sources.vacancies.headlines.rows | findByAttribute('Title', 'Growth on previous quarter') | first %}
{{ dashboard_block({
  link: '~/dashboard/vacancies/index.njk' | url,
  title: 'Growth in vacancies',
  description: vacancies_headline.Note,
  number: vacancies_headline.Value + '%'
}) | safe }}
