---
title: Quarterly Labour Market Statistics
link: https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/datasets/summaryoflabourmarketstatistics
producer: Office for National Statistics
data_dir: /data/qlms/
---

<p>
This page presents data extracted from the
<a href="{{ link }}">
ONS Summary of labour market statistics page
</a>.

At present, the data is extracted without any significant processing. 

</p>

<table>
  <thead>
    <tr>
      <th>Table</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Table 9:  Unemployment by age and duration (seasonally adjusted)
      </td>
      <td>
        <a href="/data/qlms/qlms-9.csv">CSV</a>
      </td>
    </tr>
    <tr>
      <td>
        Table 11: Economic inactivity for those aged from 16 to 64 (seasonally adjusted)
      </td>
      <td>
        <a href="/data/qlms/qlms-11.csv">CSV</a>
      </td>
    </tr>
    <tr>
      <td>
        Table 12:  Educational status, economic activity & inactivity of young people  (seasonally adjusted)
      </td>
      <td>
        <a href="/data/qlms/qlms-12.csv">CSV</a>
      </td>
    </tr>
    <tr>
      <td>
        Table 20:  Vacancies and Unemployment (seasonally adjusted)
      </td>
      <td>

        <a href="/data/qlms/qlms-20.csv">CSV</a>
      </td>
    </tr>
  </tbody>
</table>
