---
title: Connected Futures 
layout: layouts/simple.njk
summary:
  - |
    [The Connected Futures Fund](https://youthfuturesfoundation.org/our-work/invest/connected-futures/) is a flagship £16 million fund to support young people to get good jobs through pioneering local partnerships.
    This page will present data on regions eligible for the funds, the areas awarded and provide further information on the funding process.  
---

<section>
  {{ comp.viz.main({ visualisations: visualisations | pick(1) }) | safe }}
</section>

{% comp 'flex' %}
{% include "partials/page/summary.njk" %}
{% include "partials/page/topic-cloud.njk" %}
{% endcomp %}

{# <section> #}
  <h2>Local Partnerships by Region</h2>

  <p>
    This section shows the local partnerships set to benefit from the Connected Futures Fund. Each partnership will explore with
    young people the challenges they face, and where support is missing or lets them down,
    from schools and employers to housing, care or criminal justice. For more information on each partnership, visit the
    <a href = "https://youthfuturesfoundation.org/our-work/invest/connected-futures/">Youth Futures Foundation website</a>.
  </p>

  {{ comp.viz.main({ visualisations: visualisations | pick(0) }) | safe }}
{# </section>

<section> #}
  <h2>Local Partnerships</h2>
  {{ comp.viz.main({ visualisations: visualisations | pick(2) }) | safe }}
{# </section> #}



