---
title: Connected Futures 
layout: layouts/simple.njk
summary:
  - |
    [The Connected Futures Fund](https://youthfuturesfoundation.org/our-work/invest/connected-futures/) is a flagship £16 million fund to support young people to get good jobs through pioneering local partnerships.
    This page will present data on regions eligible for the funds, the areas awarded and provide further information on the funding process.  
---

<section>
    <div class="panes">
        {% comp 'display.figure', { id: 'headlines', source_file: '/data/cff/dummy_headlines.csv' } %}
            <h3>Headlines</h3>
            {{ comp.oi.dashboard({ 
                config: {
                    data: "sources.cff.dummy_headlines",
                    title: "Title",
                    value: "Value",
                    note: "Note",
                    width: "45%",
                    panels: [{
                        name: "Applications Made",
                        colour: "Plum"
                    },{
                        name: "Local Partnerships Awarded",
                        colour: "Orange"
                    }]
                }
            }) | safe }}
        {% endcomp %}
    </div>

</section>

{% comp 'flex' %}
{% include "partials/page/summary.njk" %}
{% include "partials/page/topic-cloud.njk" %}
{% endcomp %}

{# <section> #}
  <h2>Local Partnerships by Region</h2>

  <p>
    This section shows the local partnerships set to benefit from the Connected Futures Fund. Each partnership will explore with
    young people the challenges they face, and where support is missing or lets them down,
    from schools and employers to housing, care or criminal justice. For more information on each partnership, visit the
    <a href = "https://youthfuturesfoundation.org/our-work/invest/connected-futures/">Youth Futures Foundation website</a>.
  </p>


  <div class="panes">
    {% comp 'display.figure', { id: 'map', source_file: '/data/cff/apps_awarded_all_itl.csv' } %}
      {{ comp.oi.map.svg({ 
        config: visualisation.headline.config
      }) | safe }}
    {% endcomp %}
  </div>

{# </section>

<section> #}
  <h2>Local Partnerships</h2>
  
  <p>
    The below table shows the organisations which make up each local partnership, and links are provided to the organisation 
    which leads each partnership.
  </p>
  
  <p>
    Links will be provided to datasets about each location when these become available.
  </p>

  <div class="panes">
    {% comp 'display.figure', { id: 'local-partnerships', source_file: '/data/cff/awarded_table.csv' } %}
   
      {{ comp.oi.table({
          "config": {
            "data": "sources.cff.awarded_table",
            "columns": [
              { "name": "Local partner", "mergerows": true, "align": "left" },
              { "name": "Led by", "mergerows": true, "align": "left" }
            ]
          }
      }) | safe }}

    {% endcomp %}
  </div>

{# </section> #}



