---
title: Bar Chart - multi-series
order: 9
visualisations:
  -
    type: chart
    config:
      file: /data/example/dummy_barchart_placements.csv
      summary: "Employers were not asked separately about each type of placement"
      type: bar-chart
      key:
        show: true     # Default to false
        position: "top right"
      axis:
        x:
          min: 0
          max: 60
          grid:
            stroke-dasharray: "6 2"
            stroke-width: 1
          ticks:
            - value: 10
              label: "10%"
            - value: 20
              label: "20%"
            - value: 30
              label: "30%"
            - value: 40
              label: "40%"
            - value: 50
              label: "50%"
        y:
          grid:
            stroke-width: 0.5
      category: "Reason"  # Category names come from 
      columns:
        - name: "School Label"
          template: "{{ Reason }}<br />School: {{ School }}%"
        - name: "College Label"
          template: "{{ Reason }}<br />College: {{ College }}%"
        - name: "University Label"
          template: "{{ Reason }}<br />University: {{ University }}%"
      series:
        - title: "School"
          value: "School"
          colour: "#E52E36"
          tooltip: "School Label"
        - title: "College"
          value: "College"
          colour: "#F7AB3D"
          tooltip: "College Label"
        - title: "University"
          value: "University"
          colour: "#69C2C9"
          tooltip: "University Label"
---