---
title: Category Chart with more series
order: 6
visualisations:
  -
    type: chart
    config:
      file: /data/example/dummy_employment_by_region.csv
      type: category-chart
      key:
        show: true     # Default to false
        position: "top right"
      axis:
        x:
          min: 0
          max: 100
          grid:
            stroke-dasharray: "6 2"
            stroke-width: 1
          ticks:
            - value: 25
              label: "25%"
            - value: 50
              label: "50%"
            - value: 75
              label: "75%"
        y:
          grid:
            stroke-width: 0.5
      category: "Region"  # Category names come from
      series:
        - title: "Bangladeshi"
          value: "Bangladeshi→Value (%)"
          errors: ["Bangladeshi→- (%)","Bangladeshi→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
        - title: "Black/African/Caribbean/Black British"
          value: "Black/African/Caribbean/Black British→Value (%)"
          errors: ["Black/African/Caribbean/Black British→- (%)","Black/African/Caribbean/Black British→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
        - title: "Chinese"
          value: "Chinese→Value (%)"
          errors: ["Chinese→- (%)","Chinese→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
        - title: "Indian"
          value: "Indian→Value (%)"
          errors: ["Indian→- (%)","Indian→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
        - title: "Mixed/Multiple"
          value: "Mixed/Multiple→Value (%)"
          errors: ["Mixed/Multiple→- (%)","Mixed/Multiple→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
        - title: "Other"
          value: "Other→Value (%)"
          errors: ["Other→- (%)","Other→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
        - title: "Pakistani"
          value: "Pakistani→Value (%)"
          errors: ["Pakistani→- (%)","Pakistani→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
        - title: "Other Asian"
          value: "Other Asian→Value (%)"
          errors: ["Other Asian→- (%)","Other Asian→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
        - title: "White"
          value: "White→Value (%)"
          errors: ["White→- (%)","White→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)

---

{{ comp.viz.main({ visualisations: visualisations }) | safe }}
<p>Built using config: </p>
<pre><code>
  {{- visualisations | yaml -}}
</code></pre>
<a href="{{ visualisations[0].config.file }}">Data file</a>
