---
title: Ranking chart
order: 7
caption: A ranking chart to show how the rank of something varies with time.
draft: true
visualisations:
  - type: ranking
    tab: Rankings
    caption: An example ranking chart. The colour scale is based on the <code>min</code>/<code>max</code> values.
    config:
      file: /data/example/heatmap.csv
      by: "Country"
      scale: "YFF"
      scaleby: "Ranks→2018"
      min: 1
      max: 38
      columns:
        - name: "Ranks→2018"
          rename: "2018"
        - name: "Ranks→2019"
          rename: "2019"
        - name: "Ranks→2020"
          rename: "2020"
  - type: ranking
    tab: Rankings (no scale)
    caption: An example ranking chart. No colours are applied. The <code>curvature</code> is reduced (0 - 1) and a <code>stroke-width</code> applied (0 - 1).
    config:
      file: /data/example/heatmap.csv
      by: "Country"
      curvature: 0
      stroke-width: 0.2
      columns:
        - name: "Ranks→2018"
          rename: "2018"
        - name: "Ranks→2019"
          rename: "2019"
        - name: "Ranks→2020"
          rename: "2020"
  - type: ranking
    tab: Ranking (colours)
    caption: "An example ranking chart. The colours are set from the <code>Colour</code> column in the CSV file. Rank circles are shown as a fraction of the spacing. The <code>height</code> is also increased. Key: <span style=\"padding:0.125em 0.25em;background:#f4ac36;color:black;\">Asia</span> <span style=\"padding:0.125em 0.25em;background:#e53012;color:white;\">Australia</span> <span style=\"padding:0.125em 0.25em;background:#0083c6;color:white;\">Europe</span> <span style=\"padding:0.125em 0.25em;background:#009640;color:white;\">N. America</span> <span style=\"padding:0.125em 0.25em;background:#b70d7f;color:white;\">S. America</span>"
    config:
      file: /data/example/heatmap.csv
      by: "Country"
      scale: "YFF"
      scaleby: "Colour"
      min: 1
      max: 38
      height: 800
      circles: 0.9
      columns:
        - name: "Ranks→2018"
          rename: "2018"
        - name: "Ranks→2019"
          rename: "2019"
        - name: "Ranks→2020"
          rename: "2020"
---

{{ comp.viz.main({ visualisations: visualisations, test: true }) | safe }}
