---
title: Education by UK Constituency
summary: |
    Data on Education and skills for young people by parliamentary constituency.
layout: layouts/simple.njk
tags:
  - maps
priority: 10

topics:
  - Education

css: |
  .pane .oi-map-hex {
    max-width:30em;
    margin-right:auto;
    margin-left:auto;
  }

  .pane .oi-chart-bar svg {
    width: auto;
  }

  .pane .oi-chart-bar {
    text-align: center;
  }

  .pane .oi-table {
    max-width: 60rem;
    text-align: center;
    margin: auto;
  }

  .selector-block { 
    padding-top: 1.5rem;
  }

  ul.spaced {
    margin-left: 3em;
  }
  article .pane {
    margin-top: 1.5em;
  }

---

{%- macro percentFormatter(x) %}{{ x }}%{% endmacro -%}

<p>This page presents data on education and skills for young people in the UK.</p>

{% comp 'flex' %}
{% include "partials/page/topic-cloud.njk" %}
{% endcomp %}

    <div class='selector'
    data-dependencies='/assets/js/selector.js'
    data-label='Choose the visualisation layer'
    data-selector-position='top'
    data-heading-level='h2'
    data-id='map-selector'>

    <article id='attainment-score-total' class='selector-block' data-selector-group="Education Attainment">
    <h2>Attainment8 Scores - Total</h2>
    {% comp 'display.figure' %}
      {{ comp.oi.map.hex_cartogram({
        config: {
          hexjson: uk_local_authority_districts_2021,
          data: view.avg_att8_total.rows,
          matchKey: 'new_la_code',
          value: 'value',
          scale: 'YFF_r',
          tooltip: '{{ n }}: <strong>{{ value | toFixed(1) }}</strong>'
        } 
      }) | safe }}
    {% endcomp %}
    </article>



    <article id='attainment-score-girls' class='selector-block' data-selector-group="Education Attainment">
    <h2>Attainment8 Scores - Girls</h2>
    {% comp 'display.figure' %}
      {{ comp.oi.map.hex_cartogram({
        config: {
          hexjson: uk_local_authority_districts_2021,
          data: view.avg_att8_girls.rows,
          matchKey: 'new_la_code',
          value: 'value',
          scale: 'YFF_r',
          tooltip: '{{ n }}: <strong>{{ value }}</strong>'
        } 
      }) | safe }}
    {% endcomp %}
    </article>

    <article id='attainment-score-boys' class='selector-block' data-selector-group="Education Attainment">
    <h2>Attainment8 Scores - Boys</h2>
    {% comp 'display.figure' %}
      {{ comp.oi.map.hex_cartogram({
        config: {
          hexjson: uk_local_authority_districts_2021,
          data: view.avg_att8_boys.rows,
          matchKey: 'new_la_code',
          value: 'value',
          scale: 'YFF_r',
          tooltip: '{{ n }}: <strong>{{ value | toFixed(1) }}</strong>'
        } 
      }) | safe }}
    {% endcomp %}
    </article>


    <article id='progress-score-total' class='selector-block' data-selector-group="Progress8 scores">
    <h2>Progress8 Scores - Total</h2>
    {% comp 'display.figure' %}
      {{ comp.oi.map.hex_cartogram({
        config: {
          hexjson: uk_local_authority_districts_2021,
          data: view.avg_p8score_total.rows,
          matchKey: 'new_la_code',
          value: 'value',
          scale: 'YFF_r',
          tooltip: '{{ n }}: <strong>{{ value | toFixed(1) }}</strong>'
        } 
      }) | safe }}
    {% endcomp %}
    </article>


    <article id='attainment-score-boys' class='selector-block' data-selector-group="Progress8 scores">
    <h2>Progress8 Score - Girls</h2>
    {% comp 'display.figure' %}
      {{ comp.oi.map.hex_cartogram({
        config: {
          hexjson: uk_local_authority_districts_2021,
          data: view.avg_p8score_girls.rows,
          matchKey: 'new_la_code',
          value: 'value',
          scale: 'YFF_r',
          tooltip: '{{ n }}: <strong>{{ value | toFixed(1) }}</strong>'
        } 
      }) | safe }}
    {% endcomp %}
    </article>


    <article id='attainment-score-boys' class='selector-block' data-selector-group="Progress8 scores">
    <h2>Progress8 Score - Boys</h2>
    {% comp 'display.figure' %}
      {{ comp.oi.map.hex_cartogram({
        config: {
          hexjson: uk_local_authority_districts_2021,
          data: view.avg_p8score_boys.rows,
          matchKey: 'new_la_code',
          value: 'value',
          scale: 'YFF_r',
          tooltip: '{{ n }}: <strong>{{ value | toFixed(1) }}</strong>'
        } 
      }) | safe }}
    {% endcomp %}
    </article>  

    </div>

