---
title: Consumer Prices Index
tags:
  - dashboard
topics:
  - CPI
  - Economic indicators
raw_data:
  - /data/raw/cpi/cpi.csv
---
{{ comp.viz.main({ visualisations: visualisations| pick(0), test: false }) | safe }}


<h2>About the data on this page </h2>
<p>
These visualisations are driven by consumer price inflation (CPI) data from the 
Office for National Statistics 
<a href="https://www.ons.gov.uk/economy/inflationandpriceindices/datasets/consumerpriceinflation"> available here.</a> The most
recent data is {{ sources.cpi.stats.CPI_most_recent_month}} {{sources.cpi.stats.date}}.
We derive percentage change figures from index values, and our values match the monthly and yearly percentage change figures
provided in the dataset, verifying our method. This page is a work in progress with updates added regularly.
</p>

{{ comp.viz.main({ visualisations: visualisations| pick(1), test: false }) | safe }}

{# TODO add time series of CPI change here #}

<h2> Data Tables </h2>
{{ comp.viz.main({ visualisations: visualisations| pick(2), test: false }) | safe }}