---
title: Labour Market Dashboard
tags:
  - dashboard
topics:
  - Gender
raw_data:
  - /data/raw/qlfs/not_in_education.csv
  - /data/raw/qlfs/long_term_unemployed.csv
---

<h2> Visualisations </h2>
<p>
These visualisations are driven by data from the ONS Labour Force Survey:
<a href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/datasets/unemploymentbyageanddurationseasonallyadjustedunem01sa">unemployment by age and duration (seasonally adjusted) (UNEM01 SA)</a>
and <a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/datasets/educationalstatusandlabourmarketstatusforpeopleagedfrom16to24seasonallyadjusteda06sa">educational status and labour market status for people aged from 16 to 24 (seasonally adjusted) (A06 SA)</a>
from the Office for National Statistics. This page is a work in progress with updates added regularly.
</p>
{{ comp.viz.main({ visualisations: visualisations | pick(0), test: false }) | safe }}

<h3>Unemployment by age and duration (seasonally adjusted) (UNEM01)</h3>
{{ comp.viz.main({ visualisations: visualisations | pick(1, 2), test: false }) | safe }}

<h3>Educational status and labour market status for people aged from 16 to 24 (seasonally adjusted) (A06)</h3>
{{ comp.viz.main({ visualisations: visualisations | pick(3, 4), test: false }) | safe }}

<h2>Data Tables</h2>
{{ comp.viz.main({ visualisations: visualisations | pick(5, 6, 7, 8) }) | safe }}
