---
title: Labour Market
tags:
  - dashboard
  - annotatable
topics:
  - Gender
raw_data:
  - /data/raw/qlfs/not_in_education.csv
  - /data/raw/qlfs/long_term_unemployed.csv
# featured_visualisation: economic_activity_not_in_full_time_education_3_years
---

<h2> About the data on this page </h2>
<p>
These visualisations are driven by data from the ONS Labour Force Survey, published by the Office for National Statistics. 
Specific links to the data sets used are provided below.
The charts include the most recent 3-monthly rolling data from the LFS published on {{ dates.a06_published | date('HUMAN_DATE') }}.
The next data publication is due on {{ dates.a06_next_update | date('HUMAN_DATE') }}.
</p>

<p>
The page is automatically updated when ONS publishes new data.
</p>

<h2 id='long-term-unemployment'>Long-term unemployment for young people (seasonally adjusted)</h2>

<p>
  The long-term unemployment rate for 16-24 year-olds, showing the proportion of unemployed people who have been unemployed for between 6 and 12 months, and the proportion who have been 
  unemployed for more than 12 months.
</p>

<p>
  This data is derived from the 
  <a href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/datasets/unemploymentbyageanddurationseasonallyadjustedunem01sa">UNEM01 SA: Unemployment by age 
  and duration (seasonally adjusted)</a> dataset.
</p>

<p>
  The current data was published on {{ dates.unem01_published | date('HUMAN_DATE') }} and includes data up to the 
  {{ latest.most_recent_lms_period }} quarter. The next scheduled publication is {{ dates.unem01_next_update | date('HUMAN_DATE') }}.
</p>

{{ comp.viz.main({ visualisations: visualisation | pick('long_term_unemployment_3_years', 'long_term_unemployment_all'), test: false }) | safe }}

<h2 id="labour-market-status">Labour market status (seasonally adjusted)</h2>

<p> 
  These visualisations show the labour market status of young people aged 16-24.
</p>

<p>
  This data is derived from the 
  <a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/datasets/educationalstatusandlabourmarketstatusforpeopleagedfrom16to24seasonallyadjusteda06sa">A06 
  SA: Educational status and labour market status for people aged from 16 to 24 (seasonally adjusted)</a> dataset.
</p>

<p>
  The current data was published on {{ dates.a06_published | date('HUMAN_DATE') }} and includes data up to the 
  {{ latest.most_recent_lms_period }} quarter. The next scheduled publication is {{ dates.a06_next_update | date('HUMAN_DATE') }}.
</p>

{{ comp.viz.main({ visualisations: visualisation | pick('economic_activity_not_in_full_time_education_3_years', 'economic_activity_in_full_time_education_3_years'), test: false }) | safe }}

<p>
The following charts compare labour market status for young people not in full-time education aged 16-17 and the group aged 18-24.
</p>

{{ comp.viz.main({ visualisations: visualisation | pick('status_16_to_17', 'status_18_to_24'), test: false }) | safe }}

<p>
The following charts compare labour market status for men and women aged 16 to 24 not in full-time education.
</p>

{{ comp.viz.main({ visualisations: visualisation | pick('status_women', 'status_men'), test: false }) | safe }}

<h2>Data Tables</h2>
{{ comp.viz.main({ visualisations: tables }) | safe }}
