<h2>{{ project.title }}</h2>

{% if project.publication_date %}
<div class="post-date">{{ project.publication_date | date('YFF') }}</div>
{% endif %}

{% if project.visualisations %}
  {% set key_visualisation = project.visualisations | first %}
  {{ comp.viz[key_visualisation.type]({ config: key_visualisation.config}) | safe }}
{% endif %}

{% if project.summary %}
<div class="summary">
{{ project.summary | first | md | striplinks | safe }}
</div>
{% endif %}

{% if project.topics %}
<div>
{{ comp.tagCloud({ tags: project.topics }) | safe }}
</div>
{% endif %}