---
title: NEET Dashboard
tags:
  - dashboard
topics:
  - Gender   
raw_data:
  - /data/raw/neet/neet.csv
---
<h2>Visualisations</h2>
<p>
These visualisations are driven by data on young people not in education, employment or training (NEET) from the 
Office for National Statistics <a href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/datasets/youngpeoplenotineducationemploymentortrainingneettable1"> available here.</a>
This page is a work in progress with updates added regularly.
</p>

{{ comp.viz.main({ visualisations: visualisations | pick(0), test: false }) | safe }}


{{ comp.viz.main({ visualisations: visualisations | pick(1, 2, 3), test: false }) | safe }}
