---
layout: layouts/simple.njk
---
{% comp 'flex' %}
{% include "partials/page/summary.njk" %}
{% include 'partials/page/topic-cloud.njk' %}
{% endcomp %}

{% if visualisation.headline %}

	{% if visualisation.headline.type == "oi.dashboard" %}
		<div class="panes">
			{% comp 'display.figure', visualisation.headline %}
				<h2>{{ visualisation.headline.title }}</h2>
				{{- comp.oi.dashboard ({ config: visualisation.headline.config }) | safe -}}
			{% endcomp %}
		</div>
	{% else %}
		{{- comp.viz.main({ visualisations: visualisation.headline, test: false, headingLevel: 2 }) | safe -}}
	{% endif %}
{% endif %}

{% set my_annotations = annotations | get_annotations(srcPath) %}
{#
{% if my_annotations | length > 0 %}
<h2>Annotations</h2>
{% endif %}
#}
{% for annotation in my_annotations %}
<div class='annotation'>
{{ annotation.content | md | safe }}
</div>
{% endfor %}

{% set pipe_doc = search.page("url='" + url + "pipeline/'").data %}
{% if pipe_doc %}
<aside>
  <p>Read the <a href="{{ pipe_doc.url }}">pipeline documentation</a> to find out how this data has been processed.</p>
</aside>
{% endif %}

{{ content | safe }}