<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <title>{{ title | default('PAGE TITLE') }} - Youth Futures Foundation</title>
  <link rel="stylesheet" href="/components.css">
  <link rel="stylesheet" href="/assets/style/wireframe.css">
  <link rel="stylesheet" href="/assets/style/yff.css">
  <script src="/components.js" inline></script>
</head>
<body>
  <div class="message container">
    <div class="holder padded">
		  This site is under active development. Please <a href="mailto:hello@open-innovations.org,analysis@youthfuturesfoundation.org?subject=YFF Feedback&body=Page title: {{ title | safe }}%0d%0aURL: {{ url }}%0d%0a%0d%0aYour feedback here">email us with your feedback</a>.
	</div>
  </div>
  {% include 'partials/site-header.njk' %}
  <main id="main" role="main" class="container">
    {% block main %}
    {{ content | safe }}
    {% endblock %}
  </main>
  <div class="feedback">
	<div class="holder padded">
		<p>This is a prototype website and we'd <a href="mailto:hello@open-innovations.org,analysis@youthfuturesfoundation.org?subject=YFF Feedback&body=Page title: {{ title | safe }}%0d%0aURL: {{ url }}%0d%0a%0d%0aYour feedback here">appreciate your feedback</a>.</p>
	</div>
  </div>
  <footer class="container">
	<div class="holder wrapper et_pb_row">
		<div class="twocol">
			<div>
				<div class="site-header-logo"><span>Logo</span><img src="/assets/images/yff-logo.svg" inline></div>
				<p class="address">Youth Futures Foundation
				<br />Tintagel House
				<br />92 Albert Embankment
				<br />London SE1 7TY</p>
			</div>
			<div></div>
		</div>
		<div class="twocol small">
			<p><a href="https://youthfuturesfoundation.org/terms-of-use/">Terms of Use</a>&nbsp; | &nbsp;<a href="https://youthfuturesfoundation.org/privacy-policy">Privacy Policy</a>&nbsp; |&nbsp; <a href="https://youthfuturesfoundation.org/cookie-policy/">Cookie Policy</a>&nbsp; |&nbsp; <a href="https://youthfuturesfoundation.org/risk-checks/">Risk Checks</a></p>
			<p>&copy; 2022 Youth Futures Foundation. Company number: 11814131</p>
		</div>
    <div class="small">
      {{ comp.license.cc_by({
        title: 'Data Portal',
        url: 'https://data.youthfuturesfoundation.org',
        creator: 'Youth Futures Foundation',
        creator_url: 'https://youthfuturesfoundation.org'
      }) | safe }}
    </div>
	</div>
  </footer>

  <script>
  /*
	Open Innovations Log
	Web usage monitoring with less privacy invasion
	Version: 2022-01-25 https://open-innovations.org/resources/oi.log.js
  */
  !function(t){t.OI||(t.OI={});var e=location;function n(t){return 50*Math.round(t/50)}t.OI.log=new function(){var t,r,o,u,f,s;return r="https://open-innovations.org/log",o=document.referrer,u=new RegExp(e.origin,"g"),0==o.indexOf(e.origin)&&(o=o.replace(u,"")),f=n(window.innerWidth)+"x"+n(window.innerHeight),this.setup=function(e){return e||(e={}),e.dest&&(r=e.dest),e.id&&(t=e.id),e.target&&(s=e.target),s="string"==typeof s?[s]:s,this},this.add=function(n,u){if("file:"==e.protocol)return this;if(!function(t){if("object"!=typeof t||t.length<=0)return!0;for(i=0;i<t.length;i++)if(t[i]==e.host)return!0;return!1}(s))return this;var d=new XMLHttpRequest;return d.open("POST",r,!0),d.setRequestHeader("Content-Type","application/x-www-form-urlencoded; charset=UTF-8"),"function"==typeof u&&(d.onload=u),d.send((t?"oid="+t+"&":"")+"url="+e.href+"&"+(o?"ref="+o+"&":"")+(f?"size="+f+"&":"")+n),this},this}}(window||this);
  OI.log.setup({'id':'yff','target':['open-innovations.github.io','open-innovations.org','yff-wireframe.open-innovations.org','data.youthfuturesfoundation.org']}).add('action=view');
  </script>
  <script>
    addEventListener('DOMContentLoaded', function () {
      if (sessionStorage.getItem('unstyled') === 'true') {
        var styles = document.querySelectorAll('link[rel=stylesheet][href$="/assets/style/yff.css"]');
        styles.forEach(function (style) { style.disabled = true; });
      }
    });
  </script>
</body>
</html>