---
layout: layouts/layout.njk
---
{% block main %}
  <div class="page-title turquoise-bg">
	<div class="holder wrapper">
		<h1>{{ title }}</h1>
	</div>
  </div>

  <div class="wrapper holder">

	{% include 'partials/page/topic-cloud.njk' %}
	
	  <section>
		{{ comp.viz.main({ visualisations: visualisations }) | safe }}
	  </section>

    <div class="post-date">{{ publication_date | date('YFF') }}</div>
    {% comp 'flex' %}
	  <section class="summary">
    {% for s in summary %}{{ s | md | safe }}{% endfor %}
	  </section>

	{% if contents | default(true) %}
		{{ comp.report.table_of_contents({ sections: sections }) | safe }}
	{% endif %}
	{% endcomp %}


	  <section class="dl">
		{{ comp.actions.download({ link: report_link, note: link_text }) | safe }}
	  </section>

	  {% for section in sections %}
		<section id="narrative-{{ loop.index }}">
		  <h2>{{ section.title }}</h2>

		  {{ comp.tagCloud({ tags: section.topics }) | safe }}

		  {% if section.blocks %}
			<section>
			  {{ comp.report.section_featured_viz({ section: section }) | safe }}
			</section>
		  {% endif %}

		  {{ section.summary | md | safe }}

      {% if section.read_more | default(true) %}
		    <a href="{{ (url + section.title + '/') | slugify | lower }}" aria-label="Read more in {{ section.title | safe }}">READ MORE</a>
      {% endif %}
		</section>
	  {% endfor %}
  </div>

{% endblock %}