---
layout: layouts/simple.njk
---

<p>
  The pages listed below are tagged with the {{ title }} topic.
</p>

{% comp 'grid.auto', {min_width: '30em'} %}
{% for page in search.pages("topics*=\"" + title + "\"") | data %}
  {{ comp.superlink({ page: page }) | safe }}
{% endfor %}
{% endcomp %}