---
title: Data Dashboard
content_class: embolden-first embiggen-first
---
<p> 
  <a href="https://youthfuturesfoundation.org/">Youth Futures Foundation</a> is the What Works Centre for youth 
  employment.
</p>

<p>
  Our aim is to reduce gaps in data and research to improve employment outcomes for young people facing the greatest challenges. The Data 
  Dashboard presents the latest youth labour market data and our latest research.
</p>

{% include 'partials/dashboard.njk' %}
