---
title: Maps
summary: Explore geographical comparisons of data relating to education, employment and international comparisons of OECD countries. 

featured: "#featured-viz figure"


---

<div id="featured-viz" hidden>
    {{ chart_description | md | safe }}
    {% comp 'display.figure' %}
      {{ comp.oi.map.hex_cartogram({
        config: {
          hexjson: search.data('areas/maps').uk_local_authority_districts_2021,
          data: search.data('areas/maps/neet-factors').view.total_score.rows,
          matchKey: 'local_authority_code',
          value: 'value',
          scale: 'YFF_r'
        }
      }) | safe }}
    {% endcomp %}
</div>


{% comp 'grid.auto', { min_width: '30rem' } %}
{% for page in search.pages("maps", "priority=desc title=asc") | data %}
    {% comp 'grid.pane', { link: page.url + (page.link_query or ''), extra_classes: extra_classes or 'turquoise-bg' } %}
      <h2>{{ page.title }}</h2>

      <div data-injector-url="{{ page.url }}" data-injector-selector="{{ page.featured }}"></div>

      {% if page.summary %}
      <div class="summary embolden-first">
          {{ page.summary  | md | striplinks | safe }}
      </div>
      {% endif %}

      {% if page.topics %}
      <div>
          {{ comp.tagCloud({ tags: page.topics }) | safe }}
      </div>
      {% endif %}
    {% endcomp %}

{% endfor %}

{% endcomp %}