<section class="block">
	<h2>{{ title }}</h2>
	{{ text | md | safe }}
	{% if visualisations %}
	  <div class="viz">
		{{ comp.viz.main({ visualisations: visualisations }) | safe }}
	  </div>
	{% endif %}

	{% if false %}
	<pre>
	  ---
	  featured: {{ featured_block }}
	</pre>
	{% endif %}
</section>