---
title: Maps
url: /maps/
nav_order:
  v2: 40   
---

{% comp 'grid.auto', { min_width: '30rem' } %}
{% for page in search.pages("maps", "priority=desc title=asc") | data %}
    {% comp 'grid.pane', { link: page.url, extra_classes: extra_classes or 'turquoise-bg' } %}
    <h2>{{ page.title }}</h2>

    {% if page.publication_date %}
    <div class="post-date">{{ project.publication_date | date('YFF') }}</div>
    {% endif %}

    {# {{ comp.oi.map.hex_cartogram({
        config: {
            hexjson: search.data("src/maps/employment/_data").constituencies,
            data: search.data("src/maps/employment/_data").employment_rate_16_24.rows,
            matchKey: 'geography_code',
            value: 'value',
            scale: 'Inferno',
            tooltip: '{{ n }}: <strong>{{ value }}%</strong>'
        }
    }) | safe }} #}

    {% if page.summary %}
    <div class="summary embolden-first">
        {{ page.summary  | md | striplinks | safe }}
    </div>
    {% endif %}

    {% if page.topics %}
    <div>
        {{ comp.tagCloud({ tags: page.topics }) | safe }}
    </div>
    {% endif %}
    {% endcomp %}

{% endfor %}

{% endcomp %}






{# {% comp 'grid.auto', {min_width: '30em'} %}
{% for page in search.pages("maps", "priority=desc title=asc") | data %}
  {{ comp.superlink({ page: page }) | safe }}
{% endfor %}
{% endcomp %} #}
