---
title: Projects
url: /projects/
nav_order:
  v2: 20
---

{% comp 'grid.auto', { min_width: '30em' } %}
  {% for page in search.pages('project', 'publication_date=desc')  %}
    {{ comp.superLink({ page: page }) | safe }}
  {% endfor %}
{% endcomp %}