/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

html {
	font-family: monospace;
	font-size: 16px;
}

body { margin: 0px; line-height: 1.25em; text-rendering: optimizeLegibility; }

.message {
	background: #fbf5d0;
	color: #5f5207;
	text-align: center;
}

.site-header-logo img { display: none; }

.wrapper { padding: 2em 1em; }
.padded { padding: 1em; }
.holder {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	
}
main .wrapper > * { margin-bottom: 1em; }
main .wrapper > *:last-child { margin-bottom: 0; }
.wrapper > *:first-child { margin-top: 0; }
h1 { font-size: 2.5em; font-weight: bold; line-height: 1.25em; }
h1 + *, h2 + *, h3 + * { margin-top: 1em; }
h2 { font-size: 1.5em; line-height: 1.25em; }
h3 { font-size: 1.33em; line-height: 1.25em; }
p, pre { margin-top: 1em; }

a { text-decoration: none; }

ul { list-style: disc; margin-left: 1em; }
blockquote { border-left: 4px solid black; padding-left: 40px; }

img { width: 100%; }

.pane h2 { color: inherit; }


section, aside {
	margin: 1em 0 4em 0;
	padding: 1em;
}

.pane,
section,
aside {
	border: 1px dashed black;
}

.site-header {
	border-bottom: 1px solid black;
}

.site-header {
	position: sticky;
	background: white;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
}

.site-title {
  font-weight: bold;
}
.site-header-logo {
  display: inline-block; width: 200px; height: 90px; vertical-align: middle; position: relative; margin-right: 1em;
}
.site-logo {
  width: 200px;
}

.site-header img { height: auto; width: 200px; float: left; }
.site-header-content {
  display: flex;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.site-header-content > *:first-child {
  flex-grow: 1;
}
.site-header-content h1 {
  font-size: 1.2rem;
  line-height: 2em;
}
.site-header-logo { background: #efefef; }
.site-header-logo span { position: absolute; left: 50%; top: 50%; transform: translate3d(-50%,-50%,0); }

/* Navigation styling */
.navigation > div {
  background: #efefef;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
}
.navigation ul.wrapper { margin: auto; }
.navigation button + * li { display: inline-block; }
.navigation ul {
  list-style: none;
  padding: 1em;
  margin: 0;
}
.navigation li {
  width: 10em;
}

@media screen and (min-width: 840px) {
  .navigation > div {
    background: initial;
    position: relative;
    top: initial;
    left: initial;
    right: initial;
  }
  .navigation ul.wrapper { margin: initial; }
  .navigation button + * li { display: initial; }
  .navigation ul {
    display: flex;
    gap: 1rem;
  }
  .navigation li {
    width: initial;
  }
}

.tag-cloud li {
	color: white;
	background: black;
}

.download-link {
  background: black;
  color: white;
}
.download-link li {
  margin: 0.2rem;
  padding: 0.1rem 0.5rem;
}
.download-link li:hover {
  color: black;
  background: white;
}
.download-link li a {
  color: inherit;
}

pre { overflow-x: auto; background-color: #ddd; }
code { background-color: #ddd; }
pre code {
  display: block;
  padding: 1rem;
}

footer { border-top: 1px solid black; padding: 2em 0; }
footer .twocol {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
footer .twocol > *:last-child { text-align: right; }
.small { font-size: 0.7em; }