/* Youth Futures Foundation styles */

body { font-family: "Century Gothic", Helvetica, sans-serif; }
h1 { color: #e25b27; text-align: center; }
h1,h2,h3,h4,h5,h6 { font-family: "Century Gothic", Helvetica, sans-serif; }
blockquote { border-left: 4px solid #e25b27; }

.page-title { background: #efe4ea; position: relative; height: 180px; }
.page-title::before { content: ""; background-image: url("/assets/images/YFF_icon_stack1-01.svg"); height: 100%; aspect-ratio: 1 / 2; position: absolute; left: 0; top: 0; z-index: 0; }
.page-title::after { content: ""; background-image: url("/assets/images/YFF_icon_stack2-01.svg"); height: 100%; aspect-ratio: 1 / 2; position: absolute; right: 0; top: 0; z-index: 0; }
.page-title .holder { position: relative; height: 100%; }
.page-title h1 { position: absolute; top: 50%; left: 50%; transform: translate3d(-50%,-50%,0); }

section,
aside {
  margin: 1em 0;
  padding: 1em;
}
.site-header { border-bottom: 0; }
.site-header-logo { background: transparent; }
.tag-cloud li { color: white; background: black; }

.auto-grid { grid-gap: 2.5em; --auto-grid-min-size: 500px!important; }
.pane { border: 0; background: #efefef; padding: 1.25em; line-height: 1.5em; }
.pane h2 { font-weight: bold; }
.pane:hover, .pane:focus { outline: 2px solid #e25b27; }
.pane:hover h2 { color: #964e6d; }
.grey { background: #efefef; }

td, th { padding: 0.25em; }

footer {
	border: 0;
	font-family: "Century Gothic", Helvetica, sans-serif;
	background: #efefef;
	color: #56585A;
	font-size: 17px;
	font-weight: 500;
	line-height: 1.8em;
	padding: 0;
}
footer a { color: #7d2248; }
footer .small { line-height: 1.25em; }
