---
# https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/
css: |
  .auto-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(min(100%, var(--auto-grid-min-size)), 1fr));
    grid-gap: 0em;
    padding: 0em;
  }
---
<div class="auto-grid" style="
  {% if min_width %} --auto-grid-min-size: {{ min_width }};{% endif %}
  {% if rows %}grid-row:auto/span {{ rows }};{% endif %}
  {% if columns %}grid-template-columns: repeat( {{ columns }}, minmax(0, 1fr));{% endif %}">
  {{ content | safe }}
</div>
