---
css: |
  .grid-block {
    --width: auto;
    --padding: 1em;
    --bg-colour: #fceee7;
    width: var(--width);
    max-width: 100%;
    padding: var(--padding);
    background: var(--bg-colour);
  }
  .grid-block-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
  }
---
{# 
  Block component

  usage:

    {% comp "grid.block", {
      background: "#fceee7"
      tag: "div";
      block_width: "auto";
      padding: "1em";
      style: undefined
    } %}
      Contents...
    {% endcomp %}

  Options:
    * tag: the tag to wrap the block. Defaults to div
    * width: the width of the block
    * style: css style to apply inline
#}
{% set styling -%}
style="
  {%- if background %}--bg-colour:{{ background }};{% endif -%}
  {%- if padding %}--padding:{{ padding }};{% endif -%}
  {%- if width %}--width:{{ width }};{% endif -%}
  {%- if columns %}grid-column:span {{ columns }};{% endif -%}
  {{style or '' }}"
{%- endset -%}

{% if link %}
  <a href="{{ link }}" class="grid-block" {{ styling | safe }}>
    <{{tag or 'div'}} class="grid-block-flex">
      {{ content | safe }}
    </{{tag or 'div'}}>
  </a>
{% else %}
  <{{tag or 'div'}} class="grid-block grid-block-flex" {{ styling | safe }}>
    {{ content | safe }}
  </{{tag or 'div'}}>
{% endif %}