---
css: |
  .grid-masonry {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    & > * {
      flex: 1 0 auto;
    }
    & .pane {
      &:hover, &:focus {
        background: #efefef;
      }
    }
  }
---
<div class="grid-masonry" {% if min_width %}style="--auto-grid-min-size: {{ min_width }};"{% endif %}>
  {{ content | safe }}
</div>
