---
css: |
  .grid-masonry {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    & > * {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      width: var(--masonry-block-width, auto);
    }
    & .pane {
      &:hover, &:focus {
        background: #efefef;
      }
    }
  }
---
<div class="grid-masonry" {% if block_width %}style="--masonry-block-width: {{ block_width }};"{% endif %}>
  {{ content | safe }}
</div>
