{%- macro renderViz(viz) %}
<figure>
<h3>{{ viz.title }}</h3>
  {{ comp.viz.render({ config: viz.config, type: viz.type, downloadLink: false }) | safe }}
</figure>
{% endmacro -%}

{# NEET #}
{% comp 'grid.block', {
  link: '~/dashboard/neet/index.njk' | url + '#all_young_people'
} %}
  {{ renderViz(search.data('dashboard/neet/').visualisation.minimal.allYoungPeople) | safe }}
{% endcomp %}

{# Unemployment / Economic Inactivity #}
{% comp 'grid.block', {
  link: '~/dashboard/labour-market/index.njk' | url + '#education_status_last_3_years'
} %}
  {{ renderViz(search.data('dashboard/labour-market/').visualisation.minimal.educationStatus) | safe }}
{% endcomp %}

{% comp 'grid.block', {
  link: '~/dashboard/labour-market/index.njk' | url + '#long_term_unemployment_3_years'
} %}
  {{ renderViz(search.data('dashboard/labour-market/').visualisation.minimal.longTermUnemployment) | safe }}
{% endcomp %}

{# Vacancies #}
{% comp 'grid.block', {
  link: '~/dashboard/vacancies/index.njk' | url + '#estimated-vacancies'
} %}
  {{ renderViz(search.data('dashboard/vacancies/').visualisation.minimal.estimatedVacancies) | safe }}
{% endcomp %}

{# CPI #}
{% comp 'grid.block', {
  link: ('~/dashboard/cpi/index.njk' | url + '#cpi-young-people')
} %}
  {{ renderViz(search.data('dashboard/cpi/').visualisation.minimal.cpiYoungPeople) | safe }}
{% endcomp %}
