{% comp 'grid.block', { link: search.data('dashboard/labour-market/').url + '#labour-market-status', width: '15rem' } %}
<h3>Unemployment</h3>
<p class='dashboard-number'>
  {{ search.data('dashboard/labour-market/').latest.unemployment_rate }}%
</p>
<p class="dashboard-note">
  Unemployment rate for people 16-24, seasonally adjusted.
</p>
<p class="dashboard-note">
  For period {{ search.data('dashboard/labour-market/').dates.most_recent_lms_period }}.
</p>
{% endcomp %}

{% comp 'grid.block', { link: search.data('dashboard/labour-market/').url + '#labour-market-status', width: '15rem' } %}
<h3>Economic inactivity</h3>
<p class='dashboard-number'>
  {{ search.data('dashboard/labour-market/').latest.economic_inactivity_rate }}%
</p>
<p class="dashboard-note">
  Economically inactive rate for people 16-24, seasonally adjusted.
</p>
<p class="dashboard-note">
  For period {{ search.data('dashboard/labour-market/').latest.most_recent_lms_period }}.
</p>
{% endcomp %}

{% comp 'grid.block', { link: search.data('dashboard/labour-market/').url + '#long-term-unemployment', width: '15rem' } %}
<h3>Long-term unemployed</h3>
<p class='dashboard-number'>
  {{ search.data('dashboard/labour-market/').latest.long_term_unemployment_rate_6_to_12_months or '--' }}%
</p>
<p class="dashboard-note">
  Percentage of any unemployment lasting between 6 and 12 months.
</p>
<p class="dashboard-note">
  For period {{ search.data('dashboard/labour-market/').latest.most_recent_lms_period }}.
</p>
{% endcomp %}

{% comp 'grid.block', { link: '/dashboard/neet/' + '#headlines', width: '15rem' } %}
<h3>NEET</h3>
<p class="dashboard-number">{{ search.data('dashboard/neet').latest.neet_rate }}%</p>
<p class="dashboard-note">
  Percentage of young people Not in Education, Employment or Training.
</p>
<p class="dashboard-note">
  For period {{ search.data('dashboard/neet/').latest.quarter }}.
</p>
{% endcomp %}
