{% macro doTheVis(visualisation, headingLevel) %}
  <div class="pane"{% if visualisation.config.id %} id="{{ visualisation.config.id }}"{% endif %}>
    {{ comp.viz.render({
      config: visualisation.config,
      tab: visualisation.tab,
      title: visualisation.title,
      caption: visualisation.caption,
      type: visualisation.type,
      downloadLink: visualisation.downloadLink or true,
      headingLevel: headingLevel
    }) | safe }}
    {% if test %}
      <p>Built using config: </p>
      <pre><code>
		    {{- visualisation | yaml -}}
		  </code></pre>
      <a href="{{ visualisation.config.file }}">Data file</a>
    {% endif %}
  </div>
{% endmacro %}

{% if not visualisations | isArray %}

  <div class="panes">{{ doTheVis(visualisations, headingLevel) }}</div>

{% elif visualisations | length === 1 %}

  <div class="panes">{{ doTheVis(visualisations[0], headingLevel) }}</div>

{% elif visualisations | length > 1 %}

  <div class="panes tabbed" role="tabpanel" data-dependencies="/assets/js/tabbed.js">
    {% for vis in visualisations %}
      {{ doTheVis(vis, headingLevel) }}
    {% endfor %}
  </div>

{% endif %}