{% macro doTheVis(visualisation) %}
  <div class="pane"{% if visualisation.config.id %} id="{{ visualisation.config.id }}"{% endif %}>
    {{ comp.viz.render(visualisation) | safe }}
    {% if test %}
      <p>Built using config: </p>
      <pre><code>
		    {{- visualisation | yaml -}}
		  </code></pre>
      <a href="{{ visualisation.config.file }}">Data file</a>
    {% endif %}
  </div>
{% endmacro %}

{% if not visualisations | isArray %}

  <div class="panes">{{ doTheVis(visualisations) }}</div>

{% elif visualisations | length === 1 %}

  <div class="panes">{{ doTheVis(visualisations[0]) }}</div>

{% elif visualisations | length > 1 %}

  <div class="panes tabbed" role="tabpanel" data-dependencies="/assets/js/tabbed.js">
    {% for vis in visualisations %}
      {{ doTheVis(vis) }}
    {% endfor %}
  </div>

{% endif %}