{% macro doTheVis(visualisation, headingLevel, tab_override) %}
  {% comp 'display.figure', {
    id: visualisation.config.id,
    source_file: visualisation.config.file
  } %}
    {{ comp.viz.render({
      config: visualisation.config,
      tab: tab_override or visualisation.tab,
      title: visualisation.title,
      caption: visualisation.caption,
      type: visualisation.type,
      headingLevel: headingLevel
    }) | safe }}
  {% endcomp %}
{% endmacro %}

{% if not visualisations | isArray %}

  <div class="panes">{{ doTheVis(visualisations, headingLevel) }}</div>

{% elif visualisations | length === 1 %}

  <div class="panes">{{ doTheVis(visualisations[0], headingLevel) }}</div>

{% elif visualisations | length > 1 %}
  <div style="--tab-count: {{ visualisations | length }};">
  <div class="panes tabbed" role="tabpanel" data-dependencies="/assets/js/tabbed.js">
    {% for vis in visualisations %}
      {{ doTheVis(vis, headingLevel, tab_override[loop.index0]) }}
    {% endfor %}
  </div>
  </div>
{% endif %}