{% if DEBUG -%}
<pre>
type: {{ type }}
config: {{ config | dump(2) }}
</pre>
{% endif -%}

<figure>
  <span class="tab-title">{% if tab %}{{ tab }}{% else %}{{ title }}{% endif %}</span>
  {% if title %}<h3>{{ title }}</h3>{% endif %}
  {% if caption %}
  <figcaption>
    <p>{{ caption | applyReplacementFilters | safe}}</p>
  </figcaption>
  {% endif %}
  {{ comp.viz[type]({ config: config }) | safe }}
</figure>
{% if citations %}
  <ul class="citations">
    {% for citation in citations %}
      <li>
        <a href="{{ citation.link }}">{{ citation.title }}</a>
      </li>
    {% endfor %}
  {% endif %}
</ul>