---
title: International Comparisons
layout: layouts/simple.njk
tags:
  - maps
topics:
  - Employment
  - Unemployment

css: |
  .selector article {
    margin-top: 2rem;
  }
  
---
{#- Formatter for autoLegend -#}
{%- macro percentFormatter(x) %}{{ x }}%{% endmacro -%}

{% comp 'flex' %}
{% include "partials/page/topic-cloud.njk" %}
{% endcomp %}

<p>This page will present international data on employment and education.</p>

<div class='selector'
    data-dependencies='/assets/js/selector.js'
    data-label='Choose the visualisation layer'
    data-selector-position='top'
    data-heading-level='h2'
    data-id='map-selector'>

    <article id='unemployment-all-15-24' class='selector-block' data-selector-group="Unemployment">
    <h2>Unemployment for all people, aged 15-24</h2>
    <p>The visualisation below presents OECD data (<a href="https://stats.oecd.org/Index.aspx?DataSetCode=LFS_D">LFS by sex and age</a>) on the number of Unemployed young people aged 15-24.</p>
    {% comp 'display.figure' %}
    {{ comp.oi.map.svg({ 
        config: {
            geojson: {
                data: sources.maps.world,
                key: 'ADM0_A3'
            }, 
            projection: {
                name: 'equirectangular'
            },
            data: view.unemployment_all_15_24.rows,
            key:'country_code',
            value: 'value',
            min: 0,
            width: 600,
            height:500,
            scale: 'YFF_r',
            tooltip: 'tooltip',
            columns: [{
                name: 'tooltip',
                template: '{{ country }} \n{{ value | multiply(1000) | toFixed(0) | toLocaleString() }} people'
            }]          
        }
      }) | safe }}
    {% endcomp %} 

    <section style = "padding-top:5rem;">
    <h3>Highest Scoring Countries</h3>
    {% comp 'display.figure'%}
      {{ comp.oi.table({
        config: {
          columns: [
            {'name':'Country'},
            {'name':'Number of people (thousands)', 'scale': 'YFF_r', 'template': '{{ Number of people (thousands) | toFixed(1) }}', 'align': 'center',
              min: view.unemployment_all_15_24.range.value.min, max: view.unemployment_all_15_24.range.value.max
            }
          ],
          data: view.unemployment_all_15_24_table.rows 
        } }
      ) | safe }}
    {% endcomp %}
    </section>

    </article>

    <article id='unemployment-women-15-24' class='selector-block' data-selector-group="Unemployment">
    <h2>Unemployment for women, aged 15-24</h2>
    <p>The visualisation below presents OECD data on the number of Unemployed young people aged 15-24.</p>
    {% comp 'display.figure' %}
    {{ comp.oi.map.svg({ 
        config: {
            geojson: {
                data: sources.maps.world,
                key: 'ADM0_A3'
            }, 
            projection: {
                name: 'equirectangular'
            },
            data: view.unemployment_women_15_24.rows,
            key:'country_code',
            value: 'value',
            min: 0,
            width: 600,
            height:500,
            scale: 'YFF_r',
            tooltip: 'tooltip',
            columns: [{
                name: 'tooltip',
                template: '{{ country }} \n{{ value | multiply(1000) | toFixed(0) | toLocaleString() }} people'
            }]          
        }
      }) | safe }}
    {% endcomp %} 

    <section style = "padding-top:5rem;">
    <h3>Highest Scoring Countries</h3>
    <p>The table below shows the countries with the highest levels of Unemployment. Higher values indicate regions where young people have a higher chance of being unemployed.</p>
    {% comp 'display.figure'%}
      {{ comp.oi.table({
        config: {
          columns: [
            {'name':'Country'},
            {'name':'Number of people (thousands)', 'scale': 'YFF_r', 'template': '{{ Number of people (thousands) | toFixed(2) }}', 'align': 'center',
              min: view.unemployment_women_15_24.range.value.min, max: view.unemployment_women_15_24.range.value.max
            }
          ],
          data: view.unemployment_women_15_24_table.rows 
        } }
      ) | safe }}
    {% endcomp %}
    </section>
    </article>

    <article id='unemployment-men-15-24' class='selector-block' data-selector-group="Unemployment">
    <h2>Unemployment for men, aged 15-24</h2>
    <p>The visualisation below presents OECD data on the number of Unemployed young people aged 15-24.</p>
    {% comp 'display.figure' %}
    {{ comp.oi.map.svg({ 
        config: {
            geojson: {
                data: sources.maps.world,
                key: 'ADM0_A3'
            }, 
            projection: {
                name: 'equirectangular'
            },
            data: view.unemployment_men_15_24.rows,
            key:'country_code',
            value: 'value',
            min: 0,
            width: 600,
            height:500,
            scale: 'YFF_r',
            tooltip: 'tooltip',
            columns: [{
                name: 'tooltip',
                template: '{{ country }} \n{{ value | multiply(1000) | toFixed(0) | toLocaleString() }} people'
            }]          
        }
      }) | safe }}
    {% endcomp %} 

    <section style = "padding-top:5rem;">
    <h3>Highest Scoring Countries</h3>
    <p>The table below shows the countries with the highest levels of Unemployment. Higher values indicate regions where young people have a higher chance of being unemployed.</p>
    {% comp 'display.figure'%}
      {{ comp.oi.table({
        config: {
          columns: [
            {'name':'Country'},
            {'name':'Number of people (thousands)', 'scale': 'YFF_r', 'template': '{{ Number of people (thousands) | toFixed(2) }}', 'align': 'center',
              min: view.unemployment_men_15_24.range.value.min, max: view.unemployment_men_15_24.range.value.max
            }
          ],
          data: view.unemployment_men_15_24_table.rows 
        } }
      ) | safe }}
    {% endcomp %}
    </section>
    </article>


    {# EMPLOYMENT #}

    <article id='employment-all-15-24' class='selector-block' data-selector-group="Employment">
    <h2>Employment for all people, aged 15-24</h2>
    <p>The visualisation below presents OECD data (<a href="https://stats.oecd.org/Index.aspx?DataSetCode=LFS_D">LFS by sex and age</a>) on the number of Unemployed young people aged 15-24.</p>
    {% comp 'display.figure' %}
    {{ comp.oi.map.svg({ 
        config: {
            geojson: {
                data: sources.maps.world,
                key: 'ADM0_A3'
            }, 
            projection: {
                name: 'equirectangular'
            },
            data: view.employment_all_15_24.rows,
            key:'country_code',
            value: 'value',
            min: 0,
            width: 600,
            height:500,
            scale: 'YFF_r',
            tooltip: 'tooltip',
            columns: [{
                name: 'tooltip',
                template: '{{ country }} \n{{ value | multiply(1000) | toFixed(0) | toLocaleString() }} people'
            }]          
        }
      }) | safe }}
    {% endcomp %} 

    <section style = "padding-top:5rem;">
    <h3>Highest Scoring Countries</h3>
    {% comp 'display.figure'%}
      {{ comp.oi.table({
        config: {
          columns: [
            {'name':'Country'},
            {'name':'Number of people (thousands)', 'scale': 'YFF_r', 'template': '{{ Number of people (thousands) | toFixed(2) }}', 'align': 'center',
              min: view.employment_all_15_24.range.value.min, max: view.employment_all_15_24.range.value.max
            }
          ],
          data: view.employment_all_15_24_table.rows 
        } }
      ) | safe }}
    {% endcomp %}
    </section>

    </article>

    <article id='employment-women-15-24' class='selector-block' data-selector-group="Employment">
    <h2>Employment for women, aged 15-24</h2>
    <p>The visualisation below presents OECD data on the number of Unemployed young people aged 15-24.</p>
    {% comp 'display.figure' %}
    {{ comp.oi.map.svg({ 
        config: {
            geojson: {
                data: sources.maps.world,
                key: 'ADM0_A3'
            }, 
            projection: {
                name: 'equirectangular'
            },
            data: view.employment_women_15_24.rows,
            key:'country_code',
            value: 'value',
            min: 0,
            width: 600,
            height:500,
            scale: 'YFF_r',
            tooltip: 'tooltip',
            columns: [{
                name: 'tooltip',
                template: '{{ country }} \n{{ value | multiply(1000) | toFixed(0) | toLocaleString() }} people'
            }]          
        }
      }) | safe }}
    {% endcomp %} 

    <section style = "padding-top:5rem;">
    <h3>Highest Scoring Countries</h3>
    <p>The table below shows the countries with the highest levels of employment. Higher values indicate regions where young people have a higher chance of being unemployed.</p>
    {% comp 'display.figure'%}
      {{ comp.oi.table({
        config: {
          columns: [
            {'name':'Country'},
            {'name':'Number of people (thousands)', 'scale': 'YFF_r', 'template': '{{ Number of people (thousands) | toFixed(2) }}', 'align': 'center',
              min: view.employment_women_15_24.range.value.min, max: view.employment_women_15_24.range.value.max
            }
          ],
          data: view.employment_women_15_24_table.rows 
        } }
      ) | safe }}
    {% endcomp %}
    </section>
    </article>

    <article id='employment-men-15-24' class='selector-block' data-selector-group="Employment">
    <h2>Employment for men, aged 15-24</h2>
    <p>The visualisation below presents OECD data on the number of Unemployed young people aged 15-24.</p>
    {% comp 'display.figure' %}
    {{ comp.oi.map.svg({ 
        config: {
            geojson: {
                data: sources.maps.world,
                key: 'ADM0_A3'
            }, 
            projection: {
                name: 'equirectangular'
            },
            data: view.employment_men_15_24.rows,
            key:'country_code',
            value: 'value',
            min: 0,
            width: 600,
            height:500,
            scale: 'YFF_r',
            tooltip: 'tooltip',
            columns: [{
                name: 'tooltip',
                template: '{{ country }} \n{{ value | multiply(1000) | toFixed(0) | toLocaleString() }} people'
            }]          
        }
      }) | safe }}
    {% endcomp %} 

    <section style = "padding-top:5rem;">
    <h3>Highest Scoring Countries</h3>
    <p>The table below shows the countries with the highest levels of employment. Higher values indicate regions where young people have a higher chance of being unemployed.</p>
    {% comp 'display.figure'%}
      {{ comp.oi.table({
        config: {
          columns: [
            {'name':'Country'},
            {'name':'Number of people (thousands)', 'scale': 'YFF_r', 'template': '{{ Number of people (thousands) | toFixed(2) }}', 'align': 'center',
              min: view.employment_men_15_24.range.value.min, max: view.employment_men_15_24.range.value.max
            }
          ],
          data: view.employment_men_15_24_table.rows 
        } }
      ) | safe }}
    {% endcomp %}
    </section>
