---
title: QLFS Dashboard
tags:
  - dashboard
topics:
  - Gender
raw_data:
  - /data/raw/qlfs/not_in_education.csv
  - /data/raw/qlfs/long_term_unemployed.csv
---
<h3> Visualisations </h3>
<p>
These visualisations are driven by data from
<a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/datasets/educationalstatusandlabourmarketstatusforpeopleagedfrom16to24seasonallyadjusteda06sa"> A06 SA</a>
and <a href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/datasets/unemploymentbyageanddurationseasonallyadjustedunem01sa">UNEM01 SA</a>
from the Office for National Statistics. This page is a work in progress with updates added regularly.
</p>
{{ comp.viz.main({ visualisations: visualisations | pick(0, 1, 2), test: false }) | safe }}

<h3>Data tables</h3>
{{ comp.viz.main({ visualisations: visualisations | pick(3, 4, 5) }) | safe }}