---
title: QLFS Dashboard
tags:
  - dashboard
topics:
  - Gender
raw_data:
  - /data/raw/qlfs/not_in_education.csv
  - /data/raw/qlfs/long_term_unemployed.csv
---
<h3> Visualisations </h3>
{{ comp.viz.main({ visualisations: visualisations | pick(0, 1, 2), test: false }) | safe }}

<h3>Tables</h3>
{{ comp.viz.main({ visualisations: visualisations | pick(3, 4, 5) }) | safe }}