---
title: International Comparisons
layout: layouts/simple.njk
tags:
  - maps
topics:
  - Employment
  - Unemployment
  - NEET

css: |
  .selector article {
    margin-top: 2rem;
  }
  .selector article * + h3 { margin-top: 2em; }

  h3 {
    padding-top:2em;
  }

featured: "#featured-viz figure"
summary: This page will present international data on employment and education.  
---
{#- Formatter for autoLegend -#}
{%- macro percentFormatter(x) %}{{ x }}%{% endmacro -%}

{% comp 'flex' %}
{% include "partials/page/topic-cloud.njk" %}
{% endcomp %}

<p>This page will present international data on employment and education.</p>

{# TO DO: Legend and date #}


	<div id="featured-viz" hidden>
		<h3>Employment Rate</h3>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.oecd_lfs_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: true,
				width: 700,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2020',
					template: '{{ Employment rate→Total→From 15 to 24 years→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ Employment rate→Total→From 15 to 24 years→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ Employment rate→Total→From 15 to 24 years→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
	</div>

<div class='selector'
    data-dependencies='/assets/js/selector.js'
    data-label='Choose the visualisation layer'
    data-selector-position='top'
    data-heading-level='h2'
    data-id='map-selector'>

	<article id='neet-15-29-all' class='selector-block' data-selector-group="NEET">
		<h2>Youth not in employment, education or training (NEET) - all people, aged 15-29</h2>
		<p>
			The visualisation below presents OECD data on the percentage of presents the 
			share of young people who are not in employment, education or training (NEET), as a percentage 
			of the total number of young people aged 15-29, by gender.
		</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.neet_grouped.rows | remove_rows_with_null_values('15_29→2022'),
				key:'country_code',
				value: '15_29→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF_r',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ 15_29→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

    <h3>NEET Rate Aged 15-29, all people</h3>

	<p>Rates of young people, aged 15-29, who are not in education, employment or training (NEET), from latest available OECD data, 2022.</p>

    {% comp 'display.figure' %}
      {{ comp.oi.chart.bar({ config: {
          data: view.neet_grouped.rows | remove_rows_with_null_values('15_29→2022'),
          category: 'country',
          width: 1000,
		  height: 550,
          series: [
            { title: 'NEET Rate (%)', value: '15_29→2022', tooltip: '{{ country }} \n{{ 15_29→2022 | toFixed(0) | toLocaleString() }}%' }
          ],
			legend: {
				show: false,
				position: "top"
			},
			axis: {
				x: { 
					tick: { 
						spacing: 10 
					}, 
					grid: false
					}
			}
			} }) | safe }}
    {% endcomp %}

	<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.neet_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: false,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2018',
					template: '{{ 15_29→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ 15_29→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ 15_29→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ 15_29→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ 15_29→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>


	<article id='neet-15-29-women' class='selector-block' data-selector-group="NEET">
		<h2>Youth not in employment, education or training (NEET) - Women, age 15-29</h2>
		<p>
			The visualisation below presents OECD data on the percentage of presents the 
			share of young people who are not in employment, education or training (NEET), as a percentage 
			of the total number of young people aged 15-29, by gender.
		</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.neet_grouped.rows | remove_rows_with_null_values('15_29_WOMEN→2022'),
				key:'country_code',
				value: '15_29_WOMEN→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF_r',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ 15_29_WOMEN→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

		<h3>NEET Rate Aged 15-29, Women</h3>

		<p>Rates of young people, aged 15-29, who are not in education, employment or training (NEET), from latest available OECD data, 2022.</p>


		{% comp 'display.figure' %}
		{{ comp.oi.chart.bar({ config: {
			data: view.neet_grouped.rows | remove_rows_with_null_values('15_29_WOMEN→2022'),
			category: 'country',
			width: 1000,
			height: 550,
			series: [
				{ title: 'NEET Rate (%)', value: '15_29_WOMEN→2022', tooltip: '{{ country }} \n{{ 15_29_WOMEN→2022 | toFixed(0) | toLocaleString() }}%' }
			],
			legend: {
				show: false,
				position: "top"
			},
			axis: {
				x: { 
					tick: { 
						spacing: 10 
					}, 
					grid: false
					}
			}
			} }) | safe }}
		{% endcomp %}

		<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.neet_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: false,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2018',
					template: '{{ 15_29_WOMEN→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ 15_29_WOMEN→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ 15_29_WOMEN→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ 15_29_WOMEN→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ 15_29_WOMEN→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>

	<article id='neet-15-29-men' class='selector-block' data-selector-group="NEET">
		<h2>Youth not in employment, education or training (NEET) - Men, aged 15-29</h2>
		<p>
			The visualisation below presents OECD data on the percentage of presents the 
			share of young people who are not in employment, education or training (NEET), as a percentage 
			of the total number of young people aged 15-29, by gender.
		</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.neet_grouped.rows | remove_rows_with_null_values('15_29_MEN→2022'),
				key:'country_code',
				value: '15_29_MEN→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF_r',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ 15_29_MEN→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

		<h3>NEET Rate Aged 15-29, Men</h3>
		<p>Rates of young people, aged 15-29, who are not in education, employment or training (NEET), from latest available OECD data, 2022.</p>

		{% comp 'display.figure' %}
		{{ comp.oi.chart.bar({ config: {
			data: view.neet_grouped.rows | remove_rows_with_null_values('15_29_MEN→2022'),
			category: 'country',
			width: 1000,
			height: 550,
			series: [
				{ title: 'NEET Rate (%)', value: '15_29_MEN→2022', tooltip: '{{ country }} \n{{ 15_29_MEN→2022 | toFixed(0) | toLocaleString() }}%' }
			],
			legend: {
				show: false,
				position: "top"
			},
			axis: {
				x: { 
					tick: { 
						spacing: 10 
					}, 
					grid: false,
					max: 42
					}
			}
			} }) | safe }}
		{% endcomp %}

		<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.neet_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: false,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2018',
					template: '{{ 15_29_MEN→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ 15_29_MEN→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ 15_29_MEN→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ 15_29_MEN→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ 15_29_MEN→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>

    <article id='employment-rate-total-15-to-24' class='selector-block' data-selector-group="Employment">
		<h2>Employment rate for all people, aged 15 to 24 years</h2>
		<p>The visualisation below presents OECD data (<a href="https://stats.oecd.org/Index.aspx?DataSetCode=LFS_D">LFS by sex and age</a>) on the number of employed people aged 15 to 24 years.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.oecd_lfs_grouped.rows | remove_rows_with_null_values('Employment rate→Total→From 15 to 24 years→2022'),
				key:'country_code',
				value: 'Employment rate→Total→From 15 to 24 years→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ Employment rate→Total→From 15 to 24 years→2022 | toFixed(2) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

		<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.oecd_lfs_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: true,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2016',
					template: '{{ Employment rate→Total→From 15 to 24 years→2016 }}',
					fillna: 0
				},{
					name: '2017',
					template: '{{ Employment rate→Total→From 15 to 24 years→2017 }}',
					fillna: 0
				},{
					name: '2018',
					template: '{{ Employment rate→Total→From 15 to 24 years→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ Employment rate→Total→From 15 to 24 years→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ Employment rate→Total→From 15 to 24 years→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ Employment rate→Total→From 15 to 24 years→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ Employment rate→Total→From 15 to 24 years→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>


    <article id='employment-rate-female-15-to-24' class='selector-block' data-selector-group="Employment">
		<h2>Employment rate for women, aged 15 to 24 years</h2>
		<p>The visualisation below presents OECD data on the number of women aged 15 to 24 years who are in employment.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.oecd_lfs_grouped.rows | remove_rows_with_null_values('Employment rate→Female→From 15 to 24 years→2022'),
				key:'country_code',
				value: 'Employment rate→Female→From 15 to 24 years→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ Employment rate→Female→From 15 to 24 years→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

		<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.oecd_lfs_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: true,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2016',
					template: '{{ Employment rate→Female→From 15 to 24 years→2016 }}',
					fillna: 0
				},{
					name: '2017',
					template: '{{ Employment rate→Female→From 15 to 24 years→2017 }}',
					fillna: 0
				},{
					name: '2018',
					template: '{{ Employment rate→Female→From 15 to 24 years→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ Employment rate→Female→From 15 to 24 years→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ Employment rate→Female→From 15 to 24 years→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ Employment rate→Female→From 15 to 24 years→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ Employment rate→Female→From 15 to 24 years→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>

    <article id='employment-rate-male-15-to-24' class='selector-block' data-selector-group="Employment">
		<h2>Employment rate for men, aged 15 to 24 years</h2>
		<p>The visualisation below presents OECD data on the number of men aged 15 to 24 years who are in employment.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.oecd_lfs_grouped.rows | remove_rows_with_null_values('Employment rate→Male→From 15 to 24 years→2022'),
				key:'country_code',
				value: 'Employment rate→Male→From 15 to 24 years→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ Employment rate→Male→From 15 to 24 years→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

		<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.oecd_lfs_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: true,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2016',
					template: '{{ Employment rate→Male→From 15 to 24 years→2016 }}',
					fillna: 0
				},{
					name: '2017',
					template: '{{ Employment rate→Male→From 15 to 24 years→2017 }}',
					fillna: 0
				},{
					name: '2018',
					template: '{{ Employment rate→Male→From 15 to 24 years→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ Employment rate→Male→From 15 to 24 years→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ Employment rate→Male→From 15 to 24 years→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ Employment rate→Male→From 15 to 24 years→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ Employment rate→Male→From 15 to 24 years→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>

    <article id='unemployment-rate-total-15-to-24' class='selector-block' data-selector-group="Unemployment">
		<h2>Unemployment rate for all people, aged 15 to 24 years</h2>
		<p>The visualisation below presents OECD data on the number of people aged 15 to 24 years who are unemployed.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.oecd_lfs_grouped.rows | remove_rows_with_null_values('Unemployment rate→Total→From 15 to 24 years→2022'),
				key:'country_code',
				value: 'Unemployment rate→Total→From 15 to 24 years→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF_r',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ Unemployment rate→Total→From 15 to 24 years→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

		<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.oecd_lfs_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: false,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2016',
					template: '{{ Unemployment rate→Total→From 15 to 24 years→2016 }}',
					fillna: 0
				},{
					name: '2017',
					template: '{{ Unemployment rate→Total→From 15 to 24 years→2017 }}',
					fillna: 0
				},{
					name: '2018',
					template: '{{ Unemployment rate→Total→From 15 to 24 years→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ Unemployment rate→Total→From 15 to 24 years→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ Unemployment rate→Total→From 15 to 24 years→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ Unemployment rate→Total→From 15 to 24 years→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ Unemployment rate→Total→From 15 to 24 years→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>

    <article id='unemployment-rate-female-15-to-24' class='selector-block' data-selector-group="Unemployment">
		<h2>Unemployment rate for women, aged 15 to 24 years</h2>
		<p>The visualisation below presents OECD data on the number of women aged 15 to 24 years who are unemployed.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.oecd_lfs_grouped.rows | remove_rows_with_null_values('Unemployment rate→Female→From 15 to 24 years→2022'),
				key:'country_code',
				value: 'Unemployment rate→Female→From 15 to 24 years→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF_r',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ Unemployment rate→Female→From 15 to 24 years→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

		<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.oecd_lfs_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: false,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2016',
					template: '{{ Unemployment rate→Female→From 15 to 24 years→2016 }}',
					fillna: 0
				},{
					name: '2017',
					template: '{{ Unemployment rate→Female→From 15 to 24 years→2017 }}',
					fillna: 0
				},{
					name: '2018',
					template: '{{ Unemployment rate→Female→From 15 to 24 years→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ Unemployment rate→Female→From 15 to 24 years→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ Unemployment rate→Female→From 15 to 24 years→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ Unemployment rate→Female→From 15 to 24 years→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ Unemployment rate→Female→From 15 to 24 years→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>

    <article id='unemployment-rate-male-15-to-24' class='selector-block' data-selector-group="Unemployment">
		<h2>Unemployment rate for men, aged 15 to 24 years</h2>
		<p>The visualisation below presents OECD data on the number of men aged 15 to 24 years who are unemployed.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.oecd_lfs_grouped.rows | remove_rows_with_null_values('Unemployment rate→Male→From 15 to 24 years→2022'),
				key:'country_code',
				value: 'Unemployment rate→Male→From 15 to 24 years→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF_r',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ Unemployment rate→Male→From 15 to 24 years→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

		<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.oecd_lfs_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: false,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2016',
					template: '{{ Unemployment rate→Male→From 15 to 24 years→2016 }}',
					fillna: 0
				},{
					name: '2017',
					template: '{{ Unemployment rate→Male→From 15 to 24 years→2017 }}',
					fillna: 0
				},{
					name: '2018',
					template: '{{ Unemployment rate→Male→From 15 to 24 years→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ Unemployment rate→Male→From 15 to 24 years→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ Unemployment rate→Male→From 15 to 24 years→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ Unemployment rate→Male→From 15 to 24 years→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ Unemployment rate→Male→From 15 to 24 years→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>

    <article id='inactivity-rate-total-15-to-24' class='selector-block' data-selector-group="Economic Inactivity">
		<h2>Economic inactivity rate for all people, aged 15 to 24 years</h2>
		<p>The visualisation below presents OECD data on the number of all people aged 15 to 24 years who are economically inactive.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.oecd_lfs_grouped.rows | remove_rows_with_null_values('Inactivity rate→Total→From 15 to 24 years→2022'),
				key:'country_code',
				value: 'Inactivity rate→Total→From 15 to 24 years→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF_r',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ Inactivity rate→Total→From 15 to 24 years→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

		<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.oecd_lfs_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: false,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2016',
					template: '{{ Inactivity rate→Total→From 15 to 24 years→2016 }}',
					fillna: 0
				},{
					name: '2017',
					template: '{{ Inactivity rate→Total→From 15 to 24 years→2017 }}',
					fillna: 0
				},{
					name: '2018',
					template: '{{ Inactivity rate→Total→From 15 to 24 years→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ Inactivity rate→Total→From 15 to 24 years→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ Inactivity rate→Total→From 15 to 24 years→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ Inactivity rate→Total→From 15 to 24 years→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ Inactivity rate→Total→From 15 to 24 years→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>

    <article id='inactivity-rate-female-15-to-24' class='selector-block' data-selector-group="Economic Inactivity">
		<h2>Economic inactivity rate for women, aged 15 to 24 years</h2>
		<p>The visualisation below presents OECD data on the number of women aged 15 to 24 years who are economically inactive.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.oecd_lfs_grouped.rows | remove_rows_with_null_values('Inactivity rate→Female→From 15 to 24 years→2022'),
				key:'country_code',
				value: 'Inactivity rate→Female→From 15 to 24 years→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF_r',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ Inactivity rate→Female→From 15 to 24 years→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %} 

		<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.oecd_lfs_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: false,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2016',
					template: '{{ Inactivity rate→Female→From 15 to 24 years→2016 }}',
					fillna: 0
				},{
					name: '2017',
					template: '{{ Inactivity rate→Female→From 15 to 24 years→2017 }}',
					fillna: 0
				},{
					name: '2018',
					template: '{{ Inactivity rate→Female→From 15 to 24 years→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ Inactivity rate→Female→From 15 to 24 years→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ Inactivity rate→Female→From 15 to 24 years→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ Inactivity rate→Female→From 15 to 24 years→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ Inactivity rate→Female→From 15 to 24 years→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>

    <article id='inactivity-rate-male-15-to-24' class='selector-block' data-selector-group="Economic Inactivity">
		<h2>Economic inactivity rate for men, aged 15 to 24 years</h2>
		<p>The visualisation below presents OECD data on the number of men aged 15 to 24 years who are economically inactive.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.oecd_lfs_grouped.rows | remove_rows_with_null_values('Inactivity rate→Male→From 15 to 24 years→2022'),
				key:'country_code',
				value: 'Inactivity rate→Male→From 15 to 24 years→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF_r',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ Inactivity rate→Male→From 15 to 24 years→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

		<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.oecd_lfs_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: false,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2016',
					template: '{{ Inactivity rate→Male→From 15 to 24 years→2016 }}',
					fillna: 0
				},{
					name: '2017',
					template: '{{ Inactivity rate→Male→From 15 to 24 years→2017 }}',
					fillna: 0
				},{
					name: '2018',
					template: '{{ Inactivity rate→Male→From 15 to 24 years→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ Inactivity rate→Male→From 15 to 24 years→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ Inactivity rate→Male→From 15 to 24 years→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ Inactivity rate→Male→From 15 to 24 years→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ Inactivity rate→Male→From 15 to 24 years→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>


	
	<article id='wages-low-pay' class='selector-block' data-selector-group="Wages">
		<h2>Wages - Low Pay</h2>
		<p>
			Wage levels are divided by low pay and high pay. The incidence of low pay refers to the percentage of full-time workers earning less than 
			two-thirds of median earnings. The incidence of high pay refers to the percentage of full-time workers earning more than one-and-a-half time 
			median earnings. Hover over the countries to see values. Lighter colours refer to a higher percentage.
		</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.wages_grouped.rows | remove_rows_with_null_values('LPAY→2022'),
				key:'country_code',
				value: 'LPAY→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF_r',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ LPAY→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

	<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.wages_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: false,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2018',
					template: '{{ LPAY→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ LPAY→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ LPAY→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ LPAY→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ LPAY→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>

	<article id='wages-high-pay' class='selector-block' data-selector-group="Wages">
		<h2>Wages - High Pay</h2>
		<p>
			Wage levels are divided by low pay and high pay. The incidence of low pay refers to the percentage of full-time workers earning less than 
			two-thirds of median earnings. The incidence of high pay refers to the percentage of full-time workers earning more than one-and-a-half time 
			median earnings. Hover over the countries to see values. Lighter colours refer to a higher percentage.
		</p>
		{% comp 'display.figure' %}
		{{ comp.oi.map.svg({ 
			config: {
				geojson: {
					data: sources.maps.world,
					key: 'ADM0_A3'
				}, 
				projection: {
					name: 'equirectangular'
				},
				data: view.wages_grouped.rows | remove_rows_with_null_values('HPAY→2022'),
				key:'country_code',
				value: 'HPAY→2022',
				min: 0,
				width: 600,
				height:500,
				scale: 'YFF',
				tooltip: 'tooltip',
				tools: {
					filter: {
						label: 'country'
					}
				},
				columns: [{
					name: 'tooltip',
					template: '{{ country }} \n{{ HPAY→2022 | toFixed(0) | toLocaleString() }}%'
				}]          
			}
		  }) | safe }}
		{% endcomp %}

	<h3>Rankings</h3>
		<p>Countries ranked within each year. Note that in some years there may be no values reported for a particular country. In those cases, that country will be ranked last (or joint last) in that year. This particularly affected 2020 where figures may not have been collected or reported due to the COVID-19 pandemic.</p>
		{% comp 'display.figure' %}
		{{ comp.oi.chart.ranking({ 
			config: {
				data: view.wages_grouped.rows,
				key:'country',
				circles: 0.9,
				reverse: false,
				scale: "YFF_r",
				colour: "2022",
				columns: [{
					name: '2018',
					template: '{{ HPAY→2018 }}',
					fillna: 0
				},{
					name: '2019',
					template: '{{ HPAY→2019 }}',
					fillna: 0
				},{
					name: '2020',
					template: '{{ HPAY→2020 }}',
					fillna: 0
				},{
					name: '2021',
					template: '{{ HPAY→2021 }}',
					fillna: 0
				},{
					name: '2022',
					template: '{{ HPAY→2022 }}',
					fillna: 0
				}]
			}
		  }) | safe }}
		{% endcomp %}
    </article>
	</div>

	<h3>Employment Outcomes by Education Attainment and Skills</h3>

	{% comp 'tabbed', { tab_count: 4 } %}

		<div class='pane'>

		<div class='selector'
			data-dependencies='/assets/js/selector.js'
			data-label='Choose the visualisation layer'
			data-selector-position='top'
			data-heading-level='h2'
			data-id='level-0-1-selector'>


	 	<span class="tab-title">Literacy Level 0/1</span>

			<article id='literacy-level-0-1-below-sec' class='selector-block' data-selector-group="Education Attainment">

			<h2>Employment Rates by Literacy Level 0/1, aged 25-64, Below Upper Secondary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_0_1_below_sec.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
			</article>

			<article id='literacy-level-0-1-upper-sec' class='selector-block' data-selector-group="Education Attainment">

			<h2>Employment Rates by Literacy Level 0/1, aged 25-64, Upper Secondary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_0_1_upper_sec.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
			</article>

		<article id='literacy-level-0-1-tertiary' class='selector-block' data-selector-group="Education Attainment">

			<h2>Employment Rates by Literacy Level 0/1, aged 25-64, Tertiary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_0_1_tertiary.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
			</article>



		</div>
		</div>

		<div class='pane'>

		<div class='selector'
			data-dependencies='/assets/js/selector.js'
			data-label='Choose the visualisation layer'
			data-selector-position='top'
			data-heading-level='h2'
			data-id='level-2-selector'>

	 	<span class="tab-title">Literacy Level 2</span>

			<article id='literacy-level-2-below-sec' class='selector-block' data-selector-group="Education Attainment">
			<h2>Employment Rates by Literacy Level - 2, aged 25-64, Below Upper Secondary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_2_below_sec.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
			</article>

		<article id='literacy-level-2-upper-sec' class='selector-block' data-selector-group="Education Attainment">
			<h2>Employment Rates by Literacy Level - 2, aged 25-64, Upper Secondary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_2_upper_sec.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
			</article>	

		<article id='literacy-level-2-tertiary' class='selector-block' data-selector-group="Education Attainment">
			<h2>Employment Rates by Literacy Level - 2, aged 25-64, Tertiary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_2_tertiary.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
		</article>	

		</div>
		</div>

		<div class='pane'>
	 	<span class="tab-title">Literacy Level 3</span>

		<div class='selector'
			data-dependencies='/assets/js/selector.js'
			data-label='Choose the visualisation layer'
			data-selector-position='top'
			data-heading-level='h2'
			data-id='level-3-selector'>

			<article id='literacy-level-3-below-sec' class='selector-block' data-selector-group="Education Attainment">

			<h2>Employment Rates by Literacy Level - 3, aged 25-64, Below Upper Secondary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_3_below_sec.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toFixed(0) | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
			</article>

		<article id='literacy-level-3-upper-sec' class='selector-block' data-selector-group="Education Attainment">

			<h2>Employment Rates by Literacy Level - 3, aged 25-64, Upper Secondary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_3_upper_sec.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toFixed(0) | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
			</article>

			<article id='literacy-level-3-tertiary' class='selector-block' data-selector-group="Education Attainment">

			<h2>Employment Rates by Literacy Level - 3, aged 25-64, Tertiary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_3_tertiary.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toFixed(0) | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
			</article>


		</div>
		</div>

		<div class='pane'>
	 	<span class="tab-title">Literacy Level 4/5</span>

		<div class='selector'
			data-dependencies='/assets/js/selector.js'
			data-label='Choose the visualisation layer'
			data-selector-position='top'
			data-heading-level='h2'
			data-id='level-4-selector'>

			<article id='literacy-level-4-5-below-sec' class='selector-block' data-selector-group="Education Attainment">

			<h2>Employment Rates by Literacy Level - 4/5, aged 25-64, Below Upper Secondary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_4_5_below_sec.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toFixed(0) | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
			</article>

			<article id='literacy-level-4-5-upper-sec' class='selector-block' data-selector-group="Education Attainment">

			<h2>Employment Rates by Literacy Level - 4/5, aged 25-64, Upper Secondary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_4_5_upper_sec.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toFixed(0) | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
			</article>

			<article id='literacy-level-4-5-tertiary' class='selector-block' data-selector-group="Education Attainment">

			<h2>Employment Rates by Literacy Level - 4/5, aged 25-64, Tertiary Education</h2>
			<p>
				The data visualised below presents educational attainment and labour market outcomes by skills, by 
				looking at employment rates, educational attainment and literacy proficiency level, based on the Survey of Adult Skills (PIAAC).
			
				Hover over countries on the map to see the data. Lighter colours indicate a higher employment rate.
			</p>
			{{ comp.oi.map.svg({ 
				config: {
					geojson: {
						data: sources.maps.world,
						key: 'ADM0_A3'
					}, 
					projection: {
						name: 'equirectangular'
					},
					data: view.empl_rates_lit_level_4_5_tertiary.rows,
					key:'country_code',
					value: 'value',
					min: 0,
					width: 600,
					height:500,
					scale: 'YFF',
					tooltip: 'tooltip',
					tools: {
						filter: {
							label: 'country'
						}
					},
					columns: [{
						name: 'tooltip',
						template: '{{ country }} \n{{ value | toFixed(0) | toLocaleString() }}%'
					}]          
				}
			}) | safe }}
			</article>

		</div>
		</div>

  	{% endcomp %}	