---
title: Home
---
<div class="page-title">
	<div class="holder wrapper">
		<h1>Data Dashboard</h1>
	</div>
</div>

<div class="wrapper holder">
	<p>This is a clickable wireframe prototype for a data dashboard site. It has been created for Youth Futures Foundation.</p>

	{% comp 'grid.auto' %}
  {% comp 'grid.pane', { link: '~/reports.njk' | url } %}
		<h2>Reports</h2>
		<p>
      {{ comp.note({ content: 'Review' }) | safe }}
      This page contains summaries of some of our recent reports.
    </p>
    {{ comp.number({ number: search.pages('report') | length } ) | safe }}
    <p>
      Visit the page to review headline narratives and visualisations of key findings.
    </p>
  {% endcomp %}

	{% endcomp %}
</div>