---
title: Sample Visualisations
table:
  file: /data/example/table.csv
  columns:            # The ability to merge rows (in a specific column) that have the same value
    - name: "Overall category"
      mergerows: true
    - name: "Intervention"
      mergerows: true
    - name: "Sub-category"
      mergerows: true
heatmap:
  file: /data/example/heatmap.csv
  columns:
    - name: "Ranks→2018"
      align: center
      heatmap: true
      scale: YFF
      min: 1
      max: 38
    - name: "Ranks→2019"
      align: center
      heatmap: true
      scale: YFF
      min: 1
      max: 38
    - name: "Ranks→2020"
      align: center
      heatmap: true
      scale: YFF
      min: 1
      max: 38
    - name: "Country"
    - name: "Index→2018"
      align: center
      heatmap: true
      scale: YFF
      min: 71
      max: 23
    - name: "Index→2019"
      align: center
      heatmap: true
      scale: YFF
      min: 71
      max: 23
    - name: "Index→2020"
      align: center
      heatmap: true
      scale: YFF
      min: 71
      max: 23
gapmap:
  file: /data/example/gapmap.csv
  columns:
    - name: "Source"
      template: "<a href=\"{{ Source→Link }}\">{{ Source→Name }}</a>"
    - name: "Ethnic groups availability→Broad groupings (e.g. White, Black, Asian, mixed, other)→Rating"
      rename: "Broad groupings e.g. White, Black, Asian, mixed, other"
      width: "15%"
      align: center
      heatmap: true
      scale: YFF
      min: 3
      max: 0
    - name: "Ethnic groups availability→Ethnic groups (e.g. African, Carribean, other black background)→Rating"
      rename: "Ethnic groups e.g. African, Carribean, other black background"
      width: "15%"
      align: center
      heatmap: true
      scale: YFF
      min: 3
      max: 0
    - name: "Ethnic groups availability→Ethnic subgroups (e.g. Somali)→Rating"
      rename: "Ethnic subgroups e.g. Somali"
      width: "15%"
      align: center
      heatmap: true
      scale: YFF
      min: 3
      max: 0
    - name: "Ethnic groups availability→Other relevant subgroups (e.g. migration status)→Rating"
      rename: "Other relevant subgroups e.g. migration status"
      width: "15%"
      align: center
      heatmap: true
      scale: YFF
      min: 3
      max: 0
linechart:
  file: /data/example/dummy_linechart.csv
  type: line-chart
  source: "Table 9: Unemployment by age and duration (seasonally adjusted) 19 July 2022 from A01: Summary of labour market statistics https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/datasets/summaryoflabourmarketstatistics"
  key:
    show: true     # Default to false
    position: "top right"
  axis:
    x:  # Horizontal axis
      min: 2001    # A minimum value
      max: 2022    # A maximum value
      grid:
        stroke: "#efefef"
      # Explicitly define the ticks.
      # Each tick has a numeric value and a displayed label
      ticks:
        - value: 2001
          label: ""
        - value: 2002
          label: ""
        - value: 2003
          label: ""
        - value: 2004
          label: ""
        - value: 2005
          label: "2005"
        - value: 2006
          label: ""
        - value: 2007
          label: ""
        - value: 2008
          label: ""
        - value: 2009
          label: ""
        - value: 2010
          label: "2010"
        - value: 2011
          label: ""
        - value: 2012
          label: ""
        - value: 2013
          label: ""
        - value: 2014
          label: ""
        - value: 2015
          label: "2015"
        - value: 2016
          label: ""
        - value: 2017
          label: ""
        - value: 2018
          label: ""
        - value: 2019
          label: ""
        - value: 2020
          label: "2020"
        - value: 2021
          label: ""
    y:             # The vertical axes
      min: 0       # A minimum value
      max: 50      # A maximum value
      title:
        label: "Unemployment Rate %"
      dominant-baseline: text-bottom
      # Explicitly define the ticks.
      # Each tick has a numeric value and a displayed label
      ticks:
        - value: 0
          grid: true
          label: "0"
        - value: 5
          grid: true
          label: "5"
        - value: 10
          grid: true
          label: "10"
        - value: 15
          grid: true
          label: "15"
        - value: 20
          grid: true
          label: "20"
        - value: 25
          grid: true
          label: "25"
        - value: 30
          grid: true
          label: "30"
        - value: 35
          grid: true
          label: "35"
        - value: 40
          grid: true
          label: "40"
        - value: 45
          grid: true
          label: "45"
  series:
    - title: "16-17"
      x: "Year"                       # Column heading to use for x-value
      y: "16-17→rate (%)1"            # Column heading to use fro y-value
      size: 10
    - title: "18-24"                  # Displayed in the key and tooltip
      x: "Year"
      y: "18-24→rate (%)1"
    - title: "25-49"                  # Displayed in the key and tooltip
      x: "Year"
      y: "25-49→rate (%)1"
    - title: "50-64"                  # Displayed in the key and tooltip
      x: "Year"
      y: "50 and over→rate (%)1"
categorychartgender:
  file: /data/example/dummy_categorychart_gender.csv
  type: category-chart
  key:
    show: true     # Default to false
    position: "top right"
  axis:
    x:
      min: 15
      max: 58
      grid:
        stroke-dasharray: "6 2"
        stroke-width: 1
      ticks:
        - value: 20
          label: "20%"
        - value: 30
          label: "30%"
        - value: 40
          label: "40%"
        - value: 50
          label: "50%"
    y:
      grid:
        stroke-width: 0.5
  category: "Ethnic group"  # Category names come from 
  series:
    - title: "Female"
      value: "Female→Value (%)"
      errors: ["Female→Uncertainty minus (%)","Female→Uncertainty plus (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
    - title: "Male"
      value: "Male→Value (%)"
      errors: ["Male→Uncertainty minus (%)","Male→Uncertainty plus (%)"]  # The column headings to use for the lower/upper error bar size
categorychartemployment:
  file: /data/example/dummy_employment_by_region.csv
  type: category-chart
  key:
    show: true     # Default to false
    position: "top right"
  axis:
    x:
      min: 0
      max: 100
      grid:
        stroke-dasharray: "6 2"
        stroke-width: 1
      ticks:
        - value: 25
          label: "25%"
        - value: 50
          label: "50%"
        - value: 75
          label: "75%"
    y:
      grid:
        stroke-width: 0.5
  category: "Region"  # Category names come from
  series:
    - title: "Bangladeshi"
      value: "Bangladeshi→Value (%)"
      errors: ["Bangladeshi→- (%)","Bangladeshi→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
    - title: "Black/African/Caribbean/Black British"
      value: "Black/African/Caribbean/Black British→Value (%)"
      errors: ["Black/African/Caribbean/Black British→- (%)","Black/African/Caribbean/Black British→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
    - title: "Chinese"
      value: "Chinese→Value (%)"
      errors: ["Chinese→- (%)","Chinese→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
    - title: "Indian"
      value: "Indian→Value (%)"
      errors: ["Indian→- (%)","Indian→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
    - title: "Mixed/Multiple"
      value: "Mixed/Multiple→Value (%)"
      errors: ["Mixed/Multiple→- (%)","Mixed/Multiple→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
    - title: "Other"
      value: "Other→Value (%)"
      errors: ["Other→- (%)","Other→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
    - title: "Pakistani"
      value: "Pakistani→Value (%)"
      errors: ["Pakistani→- (%)","Pakistani→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
    - title: "Other Asian"
      value: "Other Asian→Value (%)"
      errors: ["Other Asian→- (%)","Other Asian→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
    - title: "White"
      value: "White→Value (%)"
      errors: ["White→- (%)","White→+ (%)"]   # The column headings to use for the lower/upper error bar (value-lower and value+upper)
barchartgender:
  file: /data/example/dummy_categorychart_gender.csv
  type: bar-chart
  key:
    show: true     # Default to false
    position: "top right"
  axis:
    x:
      min: 15
      max: 58
      grid:
        stroke-dasharray: "6 2"
        stroke-width: 1
      ticks:
        - value: 20
          label: "20%"
        - value: 30
          label: "30%"
        - value: 40
          label: "40%"
        - value: 50
          label: "50%"
    y:
      grid:
        stroke-width: 0.5
  category: "Ethnic group"  # Category names come from 
  series:
    - title: "Female"
      value: "Female→Value (%)"
    - title: "Male"
      value: "Male→Value (%)"
barchart:
  file: /data/example/dummy_barchart_placements.csv
  type: bar-chart
  key:
    show: true     # Default to false
    position: "top right"
  axis:
    x:
      min: 0
      max: 60
      grid:
        stroke-dasharray: "6 2"
        stroke-width: 1
      ticks:
        - value: 10
          label: "10%"
        - value: 20
          label: "20%"
        - value: 30
          label: "30%"
        - value: 40
          label: "40%"
        - value: 50
          label: "50%"
    y:
      grid:
        stroke-width: 0.5
  category: "Reason"  # Category names come from 
  series:
    - title: "School"
      value: "School"
barchartplacement:
  file: /data/example/dummy_barchart_placements.csv
  type: bar-chart
  key:
    show: true     # Default to false
    position: "top right"
  axis:
    x:
      min: 0
      max: 60
      grid:
        stroke-dasharray: "6 2"
        stroke-width: 1
      ticks:
        - value: 10
          label: "10%"
        - value: 20
          label: "20%"
        - value: 30
          label: "30%"
        - value: 40
          label: "40%"
        - value: 50
          label: "50%"
    y:
      grid:
        stroke-width: 0.5
  category: "Reason"  # Category names come from 
  series:
    - title: "School"
      value: "School"
    - title: "College"
      value: "College"
    - title: "University"
      value: "University"
dashboard:
  file: /data/example/dummy_dashboard.csv
  type: dashboard
  title: "Title"	# Column heading for title
  value: "Value"	# Column heading for value
  note: "Note"		# Column heading for note
  columns: 4		# Number of horizontal columns (default: 4)
  units:
    prefix: "Units→Pre"
    postfix: "Units→Post"
  panels:
    - name: "Thing 1"
      class: "plum"
    - name: "Thing 3"
      class: "forest"
    - name: "Thing 2"
      class: "gold"
    - name: "Thing 4"
      class: "turquoise"
---

<div class="page-title">
	<div class="holder wrapper">
		<h1>{{ title }}</h1>
	</div>
</div>

<div class="wrapper holder">
	<section>
		<h2>Simple Table</h2>
		{{ comp.viz.table({ config: table }) | safe }}
		<p>Built using config: </p>
		<pre><code>
		  {{- table | yaml -}}
		</code></pre>
		<a href="{{ table.file }}">Data file</a>
	</section>

	<section>
		<h2>Heatmap Table</h2>
		{{ comp.viz.table({ config: heatmap }) | safe }}
		<p>Built using config: </p>
		<pre><code>
		  {{- heatmap | yaml -}}
		</code></pre>
		<a href="{{ heatmap.file }}">Data file</a>
	</section>

	<section>
		<h2>Gap Map Table</h2>
		{{ comp.viz.table({ config: gapmap }) | safe }}
		<p>Built using config: </p>
		<pre><code>
		  {{- gapmap | yaml -}}
		</code></pre>
		<a href="{{ gapmap.file }}">Data file</a>
	</section>

	<section>
		<h2>Line Chart</h2>
		{{ comp.viz.chart({ config: linechart }) | safe }}
		<p>Built using config: </p>
		<pre><code>
		  {{- linechart | yaml -}}
		</code></pre>
		<a href="{{ linechart.file }}">Data file</a>
	</section>

	<section>
		<h2>Category Chart</h2>
		{{ comp.viz.chart({ config: categorychartgender }) | safe }}
		<p>Built using config: </p>
		<pre><code>
		  {{- categorychartgender | yaml -}}
		</code></pre>
		<a href="{{ categorychartgender.file }}">Data file</a>
	</section>

	<section>
		<h2>Category Chart with more series</h2>
		{{ comp.viz.chart({ config: categorychartemployment }) | safe }}
		<p>Built using config: </p>
		<pre><code>
		  {{- categorychartemployment | yaml -}}
		</code></pre>
		<a href="{{ categorychartemployment.file }}">Data file</a>
	</section>

	<section>
		<h2>Bar Chart</h2>
		{{ comp.viz.chart({ config: barchart }) | safe }}
		<p>Built using config: </p>
		<pre><code>
		  {{- barchart | yaml -}}
		</code></pre>
		<a href="{{ barchart.file }}">Data file</a>
	</section>

	<section>
		<h2>Bar Chart - multi-series</h2>
		{{ comp.viz.chart({ config: barchartplacement }) | safe }}
		<p>Built using config: </p>
		<pre><code>
		  {{- barchartplacement | yaml -}}
		</code></pre>
		<a href="{{ barchartplacement.file }}">Data file</a>
	</section>

	<section>
		<h2>Bar Chart - supressed zero</h2>
		{{ comp.viz.chart({ config: barchartgender }) | safe }}
		<p>Built using config: </p>
		<pre><code>
		  {{- barchartgender | yaml -}}
		</code></pre>
		<a href="{{ barchartgender.file }}">Data file</a>
	</section>

	<section>
		<h2>Dashboard</h2>
		{{ comp.viz.dashboard({ config: dashboard }) | safe }}
		<p>Built using config: </p>
		<pre><code>
		  {{- dashboard | yaml -}}
		</code></pre>
		<a href="{{ dashboard.file }}">Data file</a>
	</section>
</div>