---
title: Glossary
summary: |
  A list of definitions. 
layout: layouts/simple.njk
tags:
  - glossary


css: |
  .grid-block {
    --padding: 1em;
    --bg-colour: #e1f3f4;
  }
---

{% comp 'grid.auto', { block_width: '20rem' } %}

{% comp 'grid.block' %}
<h3><strong>Employees</strong></h3>
<p>
  People who are paid a wage by an employer for the work they do, whether in permanent or temporary roles (includes those who are absent from work).
</p>
{% endcomp %}

{% comp 'grid.block' %}
<h3><strong>Self-employed</strong></h3>
<p>
  Those who, in their main employment, work on their own account, whether they have employees or not.
</p>
{% endcomp %}

{% comp 'grid.block' %}
<h3><strong>Unemployed</strong></h3>
<p>
  People who have been actively seeking work in the last four weeks and are available to start work in the next two weeks - or, have found a job and are available to start within two weeks.
</p>
{% endcomp %}


{% comp 'grid.block' %}
<h3><strong>Unemployment Rate</strong></h3>
<p>
  Represents the proportion of people who are looking for work out of those who are economically active.
</p>
{% endcomp %}


{% comp 'grid.block' %}
<h3><strong>NEET</strong></h3>
<p>
  Young people who are not in education, employment or training.
</p>
{% endcomp %}


{% endcomp %}
