---
css: |
  aside.cookie-overlay {
    background: #fad5d7;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    box-shadow: 0 0 15px;
    z-index: 90000;
    & > * + * {
      margin-top: 1em;
    }
  }
js: |
  function registerCookieOverlay() {
    const cookieOverlay = document.querySelector('aside.cookie-overlay');
    const consentTracker = globalThis.oi.tracking;

    function showCookieOverlay() {
      // If the person has already responded this session
      // or there is already a valid consent
      if (consentTracker.hasResponded || consentTracker.hasConsented) {
        // Finish processing
        hideCookieOverlay();
        return;
      }
      cookieOverlay.hidden=false;
    }
    function hideCookieOverlay() {
      cookieOverlay.hidden=true;
    }

    cookieOverlay.querySelector('button.accept').addEventListener("click", () => {
      consentTracker.accept();
      hideCookieOverlay();
    })

    cookieOverlay.querySelector('button.reject').addEventListener("click", () => {
      consentTracker.reject();
      hideCookieOverlay();
    })

    showCookieOverlay();
    consentTracker.addEventListener('consentUpdated', showCookieOverlay);
  }
  addEventListener('DOMContentLoaded', registerCookieOverlay);
---
<aside class="cookie-overlay" hidden>
  <h2>Cookie consent</h2>
  <h3>Analytics cookies</h3>
  <p>
    We'd like to collect information using Google Analytics to help us improve this website.
    We collect this data by running code provided by Google on your device, which collects
    data about how you have interacted with our site.
    By clicking the <em>Consent</em> button below, you agree to this use of data.
  </p>
  </p>
    For more information, please see our
    <a href="{{ cookie_policy }}" target="blank">cookie policy</a>.
  </p>
  <div>
    <button class="accept">Consent</button>
    <button class="reject">Do not consent</button>
  </div>
</aside>
