---
# https://inclusive-components.design/menus-menu-buttons/
css: |
  /* This is the mechanics of the menu button */
  .navigation button[aria-expanded=true] + * { display: block; }
  .navigation button[aria-expanded=false] + * { display: none; }

  .navigation button[aria-expanded] {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    padding: 0;
    background-color: inherit;
  }
  .navigation button[aria-expanded] i {
    height: 0.3rem;
    width: 100%;
    background-color: black;
    transition: ease transform 250ms;
    border-radius: 0.8rem;
  }
  .navigation button[aria-expanded=true] i:nth-of-type(1) {
    transform: translateY(0.7rem) scaleX(0);
  }
  .navigation button[aria-expanded=true] i:nth-of-type(2) {
    transform: rotate(225deg) scale(1.41);
  }
  .navigation button[aria-expanded=true] i:nth-of-type(3) {
    transform: translateY(-0.7rem) rotate(135deg) scale(1.41);
  }
  @media screen and (min-width: 840px) {
    .navigation button[aria-expanded] {
      display: none;
    }
    .navigation button[aria-expanded] + * {
      display: block;
    }
  }

js: |
  document.addEventListener('DOMContentLoaded', () => {
    var navButton = document.querySelector('#navigation button');
    navButton.addEventListener('click', function() {
      let expanded = this.getAttribute('aria-expanded') === 'true' || false;
      this.setAttribute('aria-expanded', !expanded);
    });
  })
---
<nav id="navigation" class="navigation">
  <button aria-expanded="false" aria-label="Menu">
    <i role="none"></i>
    <i role="none"></i>
    <i role="none"></i>
  </button>
  <div>
    <ul class="wrapper">
      {% for link in search.pages('nav_order!=undefined', 'nav_order') -%}
        <li><a href="{{ link.data.url }}">{{ link.data.title }}</a></li>
      {% endfor -%}
    </ul>
  </div>
</nav>
