{% comp 'grid.pane', { link: page.url, extra_classes: extra_classes or 'turquoise-bg' } %}
<h2>{{ page.title }}</h2>

{% if page.publication_date %}
  <div class="post-date">{{ project.publication_date | date('YFF') }}</div>
{% endif %}

{% if show_viz | default(true) %}
  {% if page.featured %}
    <div data-injector-url="{{ page.url }}" data-injector-selector="{{ page.featured }}"></div>
  {% elif page.visualisation %}
    {% set key_visualisation = page.visualisation[page.featured_visualisation or 'headline'] %}
    {{ comp.viz[key_visualisation.type]({ config: key_visualisation.config }) | safe }}
  {% elif page.visualisations %}
    {% set key_visualisation = page.visualisations[page.featured_visualisation or 0] %}
    {{ comp.viz[key_visualisation.type]({ config: key_visualisation.config }) | safe }}
  {% endif %}
{% endif %}

{% if page.summary %}
  {% if page.summary | isArray %}
    {% set summary = page.summary | first %}
  {% else %}
    {% set summary = page.summary %}
  {% endif %}
  <div class="summary embolden-first">
    {{ summary | md | striplinks | safe }}
  </div>
{% endif %}

{% if page.topics %}
  <div>
    {{ comp.tagCloud({ tags: page.topics }) | safe }}
  </div>
{% endif %}
{% endcomp %}