---
css: |
  .tag-cloud {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    padding: 0;
    margin: 0;
  }
  .tag-cloud li, .tag {
    color: var(--tag-colour-text, white);
    background: var(--tag-colour, black);
  }
  .tag-cloud a {
    color: inherit;
  }
---
{# 
  Only works for topics at the moment
#}
<ul class="tag-cloud">
  {% for tag in tags %}
    {% set link_page = search.page('topic title="'+tag+'"') %}
    <li>
    {%- if live_links -%}
      <a href="{{ link_page.url }}">{{ tag }}</a>
    {%- else -%}
      {{ tag }}
    {%- endif -%}
    </li>
  {% endfor %}
</ul>