<div class="holder padded">
    The graphs below have been drawn from what data is available by constituency level and presented in an accessible manner from various sources you can find at the bottom of each page. However, there are data gaps due to low observations. Therefore, please utilise this data with the understanding that it may not be representative of the overall picture in a constituency or local authority, instead it is a snapshot in time, in a certain area, of what data is available.
</div>