<footer class="container">
  <div class="holder wrapper et_pb_row">
    <div class="twocol">
      <div>
        <img class="site-footer-logo" src="/assets/images/yff-logo.svg" inline>
        <p class="address">Youth Futures Foundation
				<br />Tintagel House
				<br />92 Albert Embankment
				<br />London SE1 7TY</p>
      </div>
      <div></div>
    </div>
    <div class="twocol small">
      <p>
        <a href="https://youthfuturesfoundation.org/terms-of-use/">Terms of Use</a>&nbsp; | &nbsp;<a href="https://youthfuturesfoundation.org/privacy-policy">Privacy Policy</a>&nbsp; |&nbsp; <a href="https://youthfuturesfoundation.org/cookie-policy/">Cookie Policy</a>&nbsp; |&nbsp; <a href="https://youthfuturesfoundation.org/risk-checks/">Risk Checks</a>
      </p>
      <div>
        <p>&copy; 2022 Youth Futures Foundation. Company number: 11814131</p>
        <p class="oi-credit">
          Site created for Youth Futures Foundation by 
          <img src="/assets/images/open-innovations-logo.svg" inline>
          <a href="//open-innovations.org/">
          Open Innovations
          </a>
        </p>
      </div>
    </div>
    <div class="small">
      {{ comp.license.cc_by({
        title: 'Data Portal',
        url: 'https://data.youthfuturesfoundation.org',
        creator: 'Youth Futures Foundation',
        creator_url: 'https://youthfuturesfoundation.org'
      }) | safe }}
    </div>
  </div>
</footer>