<header id="site-header" class="site-header container">
  <div class="holder site-header-content">
    <div class="logos">
      <a href='/'>
        <img class="site-sub-logo" src="/assets/images/yff-data.svg" inline>
      </a>
      <a href='/'>
        <img class="site-header-logo" src="/assets/images/yff-logo.svg" inline>
      </a>
    </div>
    {{ comp.nav() | safe }}
  </div>
</header>