<footer class="container">
  <div class="holder wrapper et_pb_row">
    <div class="twocol">
      <div>
        <a href="https://youthfuturesfoundation.org/">
        <img class="site-footer-logo" src="/assets/images/yff-logo.svg" inline>
        </a>
        <p class="address">Youth Futures Foundation,
        <br />Fivefields,
        <br />8-10 Grosvenor Gardens,
        <br />London, SW1W 0DH</p>
      </div>
      <div style = "font-size: 0.9em;">
        <p>The Youth Employment Data Dashboard includes data that have been collected, developed and analysed by third parties and Youth Futures Foundation is not responsible for, and cannot guarantee the accuracy of, those third-party materials or any related material.</p>
        <a href = "/disclaimer">Read more</a>
      </div>
      <div style = "font-size: 0.9em;">
        <p>
          Find out how this site was created by reading the <a href="/docs/">site documentation</a>.
        </p>
      </div>
    </div>
    <div class="twocol small">
      <p>
        <a href="https://youthfuturesfoundation.org/terms-of-use/">Terms of Use</a>&nbsp; | &nbsp;<a href="https://youthfuturesfoundation.org/privacy-policy">Privacy Policy</a>&nbsp; |&nbsp; <a href="https://youthfuturesfoundation.org/cookie-policy/">Cookie Policy</a>&nbsp; |&nbsp; <a href="https://youthfuturesfoundation.org/risk-checks/">Risk Checks</a>
      </p>
      <div>
        <p>&copy; 2022 Youth Futures Foundation. Company number: 11814131</p>
        <p class="oi-credit">
          Site created for Youth Futures Foundation by 
          <a href="//open-innovations.org/" style="display:flex;align-items:center;gap:0.3em;">
            <img src="/assets/images/open-innovations-logo.svg" inline>
          Open Innovations
          </a>
        </p>
      </div>
    </div>
    <div class="small">
      {{ comp.license.cc_by({
        title: 'Data Portal',
        url: 'https://data.youthfuturesfoundation.org',
        creator: 'Youth Futures Foundation',
        creator_url: 'https://youthfuturesfoundation.org'
      }) | safe }}
    </div>
  </div>
</footer>